Repository The-Social-Proof-Foundation/mys-core, changes with the owners that .github/CODEOWNERS names for each.
All owners: @joyqvq, @kchalkias, @benr-ml, @patrickkuo, @mystenmark, @randall-Mysten, @ronny-mysten, @tharbert, @oxade, @amnn, @wlmyng, @stefan-mysten, @emmazzz, @myswombat, @MystenLabs/consensus

minor
  crates/mys-graphql-rpc/.dockerignore
  crates/mys-graphql-rpc/Dockerfile
Owners: @oxade, @amnn, @wlmyng, @stefan-mysten, @emmazzz, @myswombat

minor
  crates/mys-graphql-rpc/.railwayignore
  crates/mys-graphql-rpc/railway.toml
Owners: @oxade, @amnn, @wlmyng, @stefan-mysten, @emmazzz, @myswombat

minor updates
  crates/mys-graphql-rpc/Cargo.toml
  crates/mys-graphql-rpc/Dockerfile
Owners: @oxade, @amnn, @wlmyng, @stefan-mysten, @emmazzz, @myswombat

minor updtes
  crates/mys-graphql-rpc/Cargo.toml
  crates/mys-graphql-rpc/Dockerfile
  crates/mys-graphql-rpc/railway.toml
Owners: @oxade, @amnn, @wlmyng, @stefan-mysten, @emmazzz, @myswombat

Update railway.toml
  crates/mys-graphql-rpc/railway.toml
Owners: @oxade, @amnn, @wlmyng, @stefan-mysten, @emmazzz, @myswombat

Update Dockerfile
  crates/mys-graphql-rpc/Dockerfile
Owners: @oxade, @amnn, @wlmyng, @stefan-mysten, @emmazzz, @myswombat

Update Dockerfile
  crates/mys-graphql-rpc/Dockerfile
Owners: @oxade, @amnn, @wlmyng, @stefan-mysten, @emmazzz, @myswombat

Update Dockerfile
  crates/mys-graphql-rpc/Dockerfile
Owners: @oxade, @amnn, @wlmyng, @stefan-mysten, @emmazzz, @myswombat

minor
  crates/mys-graphql-rpc/Dockerfile
  crates/mys-graphql-rpc/railway.toml
Owners: @oxade, @amnn, @wlmyng, @stefan-mysten, @emmazzz, @myswombat

Update Dockerfile
  crates/mys-graphql-rpc/Dockerfile
Owners: @oxade, @amnn, @wlmyng, @stefan-mysten, @emmazzz, @myswombat

small
  crates/mys-graphql-rpc/Dockerfile
  crates/mys-graphql-rpc/src/main.rs
Owners: @oxade, @amnn, @wlmyng, @stefan-mysten, @emmazzz, @myswombat

minor
  crates/mys-graphql-rpc/Dockerfile
  crates/mys-graphql-rpc/src/main.rs
Owners: @oxade, @amnn, @wlmyng, @stefan-mysten, @emmazzz, @myswombat

Update Dockerfile
  crates/mys-graphql-rpc/Dockerfile
Owners: @oxade, @amnn, @wlmyng, @stefan-mysten, @emmazzz, @myswombat

Update main.rs
  crates/mys-graphql-rpc/src/main.rs
Owners: @oxade, @amnn, @wlmyng, @stefan-mysten, @emmazzz, @myswombat

Update main.rs
  crates/mys-graphql-rpc/src/main.rs
Owners: @oxade, @amnn, @wlmyng, @stefan-mysten, @emmazzz, @myswombat

Fix Railway startCommand overriding Docker entrypoint - remove problematic variable expansion
  crates/mys-graphql-rpc/railway.toml
Owners: @oxade, @amnn, @wlmyng, @stefan-mysten, @emmazzz, @myswombat

Fix compilation error: make test_infra module conditional on test builds
  crates/mys-graphql-rpc/src/lib.rs
Owners: @oxade, @amnn, @wlmyng, @stefan-mysten, @emmazzz, @myswombat

Fix railway.toml: remove problematic startCommand to use Docker entrypoint properly
  crates/mys-graphql-rpc/railway.toml
Owners: @oxade, @amnn, @wlmyng, @stefan-mysten, @emmazzz, @myswombat

added correct port
  crates/mys-bridge/bridge-config.yaml
  crates/mys-cluster-test/src/cluster.rs
  crates/mys-faucet/setup-wallet.sh
  crates/mys-replay/src/config.rs
  crates/mys-sdk/README.md
  crates/mys-sdk/examples/event_api.rs
  crates/mys-sdk/examples/mys_client.rs
  crates/mys-sdk/src/apis.rs
  crates/mys-sdk/src/lib.rs
  crates/mys-source-validation-service/src/lib.rs
  crates/mys/src/unit_tests/profiler_tests.rs
Owners: @randall-Mysten, @ronny-mysten

Simplify GraphQL RPC Dockerfile: remove complex entrypoint script, use clean Railway startCommand
  crates/mys-graphql-rpc/Dockerfile
  crates/mys-graphql-rpc/railway.toml
Owners: @oxade, @amnn, @wlmyng, @stefan-mysten, @emmazzz, @myswombat

Fix compilation errors: remove undefined feature and private field access
  crates/mys-graphql-rpc/src/lib.rs
  crates/mys-graphql-rpc/src/main.rs
Owners: @oxade, @amnn, @wlmyng, @stefan-mysten, @emmazzz, @myswombat

Update railway.toml
  crates/mys-graphql-rpc/railway.toml
Owners: @oxade, @amnn, @wlmyng, @stefan-mysten, @emmazzz, @myswombat

minor
  crates/mys-graphql-rpc/railway.toml
  crates/mys-graphql-rpc/src/main.rs
Owners: @oxade, @amnn, @wlmyng, @stefan-mysten, @emmazzz, @myswombat

Update railway.toml
  crates/mys-graphql-rpc/railway.toml
Owners: @oxade, @amnn, @wlmyng, @stefan-mysten, @emmazzz, @myswombat

Update railway.toml
  crates/mys-graphql-rpc/railway.toml
Owners: @oxade, @amnn, @wlmyng, @stefan-mysten, @emmazzz, @myswombat

added script
  crates/mys-graphql-rpc/Dockerfile
  crates/mys-graphql-rpc/start.sh
Owners: @oxade, @amnn, @wlmyng, @stefan-mysten, @emmazzz, @myswombat

Update railway.toml
  crates/mys-graphql-rpc/railway.toml
Owners: @oxade, @amnn, @wlmyng, @stefan-mysten, @emmazzz, @myswombat

Update railway.toml
  crates/mys-graphql-rpc/railway.toml
Owners: @oxade, @amnn, @wlmyng, @stefan-mysten, @emmazzz, @myswombat

Update railway.toml
  crates/mys-graphql-rpc/railway.toml
Owners: @oxade, @amnn, @wlmyng, @stefan-mysten, @emmazzz, @myswombat

updated faucet
  crates/mys-faucet/setup-wallet.sh
  crates/mys-faucet/src/faucet/mod.rs
  crates/mys-faucet/src/faucet/simple_faucet.rs
Owners: none

Update bridge-config.yaml
  crates/mys-bridge/bridge-config.yaml
Owners: none

Update bridge-config.yaml
  crates/mys-bridge/bridge-config.yaml
Owners: none

social-indexer fixes
  crates/mys-deepbook-indexer/config.yaml
  crates/mys-social-indexer/Dockerfile
Owners: none

added railway to social-indexer
  crates/mys-social-indexer/Dockerfile
  crates/mys-social-indexer/railway.toml
Owners: none

Update Dockerfile
  crates/mys-social-indexer/Dockerfile
Owners: none

Update Dockerfile
  crates/mys-deepbook-indexer/Dockerfile
Owners: none

Update Dockerfile
  crates/mys-social-indexer/Dockerfile
Owners: none

Update Cargo.toml
  crates/mys-faucet/Cargo.toml
Owners: none

cargo update
  Cargo.lock
  Cargo.toml
Owners: none

Revert "cargo update"
  Cargo.lock
  Cargo.toml
Owners: none

.github/CODEOWNERS:

/crates/mys-types/src/crypto.rs @joyqvq @kchalkias @benr-ml
/crates/mys-types/src/base_types.rs @joyqvq
/crates/mys-keys/ @joyqvq @patrickkuo
/crates/mys-protocol-config @mystenmark

*.md @randall-Mysten @ronny-mysten
# Omit auto-generated changelogs and changesets from docs review:
/.changeset/*.md
CHANGELOG.md

# When snapshot changes, most likely we will need to recreate the genesis blob.
/crates/mys-config/tests/snapshot_tests.rs @tharbert

# When native functions change, so we can evaluate cost impact
/crates/mys-framework/src/natives/ @oxade

# GraphQL RPC working group
/crates/mys-graphql-rpc/ @oxade @amnn @wlmyng @stefan-mysten @emmazzz @myswombat
/crates/mys-graphql-e2e-tests/ @oxade @amnn @wlmyng @stefan-mysten @emmazzz @myswombat

# Consensus working group
/consensus/ @MystenLabs/consensus
/crates/mys-core/src/consensus_handler.rs @MystenLabs/consensus
/crates/mys-core/src/consensus_adapter.rs @MystenLabs/consensus
