Repository The-Social-Proof-Foundation/mys-core, changes with the owners that .github/CODEOWNERS names for each.
All owners: @joyqvq, @kchalkias, @benr-ml, @patrickkuo, @mystenmark, @randall-Mysten, @ronny-mysten, @tharbert, @oxade, @amnn, @wlmyng, @stefan-mysten, @emmazzz, @myswombat, @MystenLabs/consensus

.github/CODEOWNERS:

/crates/mys-types/src/crypto.rs @joyqvq @kchalkias @benr-ml
/crates/mys-types/src/base_types.rs @joyqvq
/crates/mys-keys/ @joyqvq @patrickkuo
/crates/mys-protocol-config @mystenmark

*.md @randall-Mysten @ronny-mysten
# Omit auto-generated changelogs and changesets from docs review:
/.changeset/*.md
CHANGELOG.md

# When snapshot changes, most likely we will need to recreate the genesis blob.
/crates/mys-config/tests/snapshot_tests.rs @tharbert

# When native functions change, so we can evaluate cost impact
/crates/mys-framework/src/natives/ @oxade

# GraphQL RPC working group
/crates/mys-graphql-rpc/ @oxade @amnn @wlmyng @stefan-mysten @emmazzz @myswombat
/crates/mys-graphql-e2e-tests/ @oxade @amnn @wlmyng @stefan-mysten @emmazzz @myswombat

# Consensus working group
/consensus/ @MystenLabs/consensus
/crates/mys-core/src/consensus_handler.rs @MystenLabs/consensus
/crates/mys-core/src/consensus_adapter.rs @MystenLabs/consensus

latest update
  Cargo.lock
  crates/mys-data-ingestion-core/src/reader.rs
  crates/mys-framework-snapshot/manifest.json
  crates/mys-framework/docs/social_contracts/encrypted_content.md
  crates/mys-framework/docs/social_contracts/post.md
  crates/mys-framework/docs/social_contracts/social_proof_token.md
  crates/mys-framework/docs/social_contracts/token_exchange.md
  crates/mys-framework/docs/usdc/usdc.md
  crates/mys-framework/packages/mys-social/Move.toml
  crates/mys-framework/packages/mys-social/sources/profile.move
  crates/mys-framework/packages_compiled/mys-social
  crates/mys-framework/packages_compiled/usdc
  crates/mys-framework/published_api.txt
Owners: @randall-Mysten, @ronny-mysten

Updated to fix modern my IP and subscriptions with encryption.
  crates/mys-framework/packages/mys-social/sources/block_list.move
  crates/mys-framework/packages/mys-social/sources/governance.move
  crates/mys-framework/packages/mys-social/sources/my_ip.move
  crates/mys-framework/packages/mys-social/sources/platform.move
  crates/mys-framework/packages/mys-social/sources/post.move
  crates/mys-framework/packages/mys-social/sources/profile.move
  crates/mys-framework/packages/mys-social/sources/social_graph.move
  crates/mys-framework/packages/mys-social/sources/subscription.move
  crates/mys-framework/packages/mys-social/sources/token_exchange.move
  crates/mys-framework/packages/mys-social/sources/upgrade.move
  crates/mys-framework/packages/mys-social/tests/my_ip_tests.move
  crates/mys-framework/packages/mys-social/tests/post_tests.move
  crates/mys-framework/packages/mys-social/tests/profile_tests.move
  crates/mys-framework/packages/seal/sources/key_server.move
Owners: none

fixed all
  crates/mys-framework/packages/mys-social/README.md
  crates/mys-framework/packages/mys-social/sources/post.move
  crates/mys-framework/packages/mys-social/sources/proof_of_creativity.move
  crates/mys-framework/packages/mys-social/sources/token_exchange.move
  crates/mys-framework/packages/mys-social/tests/token_exchange_tests.move
Owners: @randall-Mysten, @ronny-mysten

Update my_ip.move
  crates/mys-framework/packages/mys-social/sources/my_ip.move
Owners: none

Integrated My IP Marketplace into the social indexer.
  crates/mys-social-indexer/migrations/20250615000000_my_ip_marketplace_complete_replace/down.sql
  crates/mys-social-indexer/migrations/20250615000000_my_ip_marketplace_complete_replace/up.sql
  crates/mys-social-indexer/src/api/handlers/my_ip.rs
  crates/mys-social-indexer/src/api/routes.rs
  crates/mys-social-indexer/src/blockchain/my_ip_handler.rs
  crates/mys-social-indexer/src/blockchain/post_handler.rs
  crates/mys-social-indexer/src/events/my_ip_event_types.rs
  crates/mys-social-indexer/src/events/my_ip_events.rs
  crates/mys-social-indexer/src/events/post_events.rs
  crates/mys-social-indexer/src/main.rs
  crates/mys-social-indexer/src/models/my_ip.rs
  crates/mys-social-indexer/src/schema.rs
Owners: none

Integrated proof of creativity into the social indexer
  crates/mys-social-indexer/migrations/20250620000000_create_poc_tables/down.sql
  crates/mys-social-indexer/migrations/20250620000000_create_poc_tables/up.sql
  crates/mys-social-indexer/src/api/handlers/mod.rs
  crates/mys-social-indexer/src/api/handlers/poc.rs
  crates/mys-social-indexer/src/api/routes.rs
  crates/mys-social-indexer/src/blockchain/post_handler.rs
  crates/mys-social-indexer/src/events/mod.rs
  crates/mys-social-indexer/src/events/poc_event_types.rs
  crates/mys-social-indexer/src/events/poc_events.rs
  crates/mys-social-indexer/src/models/mod.rs
  crates/mys-social-indexer/src/models/poc.rs
  crates/mys-social-indexer/src/schema.rs
Owners: none

Integrated Subscription logic into the social indexer.
  Cargo.lock
  crates/mys-social-indexer/Cargo.toml
  crates/mys-social-indexer/migrations/20250620000001_create_subscription_tables/down.sql
  crates/mys-social-indexer/migrations/20250620000001_create_subscription_tables/up.sql
  crates/mys-social-indexer/src/api/handlers/mod.rs
  crates/mys-social-indexer/src/api/handlers/subscriptions.rs
  crates/mys-social-indexer/src/api/routes.rs
  crates/mys-social-indexer/src/blockchain/mod.rs
  crates/mys-social-indexer/src/blockchain/subscription_handler.rs
  crates/mys-social-indexer/src/events/mod.rs
  crates/mys-social-indexer/src/events/subscription_event_types.rs
  crates/mys-social-indexer/src/events/subscription_events.rs
  crates/mys-social-indexer/src/lib.rs
  crates/mys-social-indexer/src/main.rs
  crates/mys-social-indexer/src/models/mod.rs
  crates/mys-social-indexer/src/models/subscription.rs
  crates/mys-social-indexer/src/schema.rs
Owners: none

Integrated anonymous voting from the governance into the social indexer, along with cleaned-up dead code and warnings.
  crates/mys-framework/packages/mys-social/sources/governance.move
  crates/mys-framework/packages/seal/sources/bf_hmac_encryption.move
  crates/mys-social-indexer/migrations/20250620000002_create_anonymous_voting_tables/down.sql
  crates/mys-social-indexer/migrations/20250620000002_create_anonymous_voting_tables/up.sql
  crates/mys-social-indexer/src/api/handlers/governance.rs
  crates/mys-social-indexer/src/api/handlers/poc.rs
  crates/mys-social-indexer/src/api/handlers/subscriptions.rs
  crates/mys-social-indexer/src/api/routes.rs
  crates/mys-social-indexer/src/blockchain/governance_handler.rs
  crates/mys-social-indexer/src/blockchain/my_ip_handler.rs
  crates/mys-social-indexer/src/blockchain/subscription_handler.rs
  crates/mys-social-indexer/src/events/governance_event_types.rs
  crates/mys-social-indexer/src/events/governance_events.rs
  crates/mys-social-indexer/src/lib.rs
  crates/mys-social-indexer/src/models/governance.rs
  crates/mys-social-indexer/src/models/mod.rs
  crates/mys-social-indexer/src/schema.rs
Owners: none

Integrated Revenue and Charts for the Social Network.
  crates/mys-social-indexer/migrations/20250622000001_spt_revenue_tracking/down.sql
  crates/mys-social-indexer/migrations/20250622000001_spt_revenue_tracking/up.sql
  crates/mys-social-indexer/src/api/handlers/mod.rs
  crates/mys-social-indexer/src/api/handlers/revenue.rs
  crates/mys-social-indexer/src/api/handlers/subscriptions.rs
  crates/mys-social-indexer/src/api/routes.rs
  crates/mys-social-indexer/src/blockchain/my_ip_handler.rs
  crates/mys-social-indexer/src/blockchain/post_handler.rs
  crates/mys-social-indexer/src/blockchain/social_proof_token_handler.rs
  crates/mys-social-indexer/src/events/post_event_types.rs
  crates/mys-social-indexer/src/events/social_proof_token_events.rs
  crates/mys-social-indexer/src/models/mod.rs
  crates/mys-social-indexer/src/models/revenue.rs
  crates/mys-social-indexer/src/schema.rs
Owners: none

Update post_events.rs
  crates/mys-social-indexer/src/events/post_events.rs
Owners: none

Update post.move
  crates/mys-framework/packages/mys-social/sources/post.move
Owners: none

last updates
  crates/mys-framework/packages/mys-social/sources/post.move
  crates/mys-framework/packages/mys-social/sources/proof_of_creativity.move
  crates/mys-framework/packages/mys-social/sources/token_exchange.move
  crates/mys-social-indexer/src/blockchain/post_handler.rs
  crates/mys-social-indexer/src/events/post_event_types.rs
  crates/mys-social-indexer/src/schema.rs
Owners: none

Fixed last bits of warnings in the Price Oracle and GraphQL RPC. Great.
  crates/mys-graphql-rpc/src/main.rs
  crates/mys-price-oracle/src/errors.rs
  crates/mys-price-oracle/src/main.rs
  crates/mys-price-oracle/src/metrics.rs
Owners: @oxade, @amnn, @wlmyng, @stefan-mysten, @emmazzz, @myswombat

Update Dockerfile
  crates/mys-social-indexer/Dockerfile
Owners: none

Dated snapshots and framework binaries.
  crates/mys-framework-snapshot/bytecode_snapshot/74/0x0000000000000000000000000000000000000000000000000000000000000002
  crates/mys-framework-snapshot/bytecode_snapshot/74/0x0000000000000000000000000000000000000000000000000000000000005ea1
  crates/mys-framework-snapshot/bytecode_snapshot/74/0x00000000000000000000000000000000000000000000000000000000000075d6
  crates/mys-framework-snapshot/bytecode_snapshot/74/0x000000000000000000000000000000000000000000000000000000000000d880
  crates/mys-framework-snapshot/manifest.json
  crates/mys-framework/docs/mys/transfer_policy.md
  crates/mys-framework/docs/social_contracts/block_list.md
  crates/mys-framework/docs/social_contracts/encrypted_content.md
  crates/mys-framework/docs/social_contracts/governance.md
  crates/mys-framework/docs/social_contracts/my_ip.md
  crates/mys-framework/docs/social_contracts/platform.md
  crates/mys-framework/docs/social_contracts/post.md
  crates/mys-framework/docs/social_contracts/profile.md
  crates/mys-framework/docs/social_contracts/proof_of_creativity.md
  crates/mys-framework/docs/social_contracts/social_graph.md
  crates/mys-framework/docs/social_contracts/subscription.md
  crates/mys-framework/docs/social_contracts/token_exchange.md
  crates/mys-framework/packages/seal/sources/bf_hmac_encryption.move
  crates/mys-framework/packages/seal/sources/key_server.move
  crates/mys-framework/packages_compiled/mys-framework
  crates/mys-framework/packages_compiled/mys-social
  crates/mys-framework/packages_compiled/seal
  crates/mys-framework/published_api.txt
  crates/mys-social-indexer/Dockerfile
  crates/mys-swarm-config/tests/snapshots/snapshot_tests__populated_genesis_snapshot_matches-2.snap
Owners: @randall-Mysten, @ronny-mysten

Update Dockerfile
  crates/mys-social-indexer/Dockerfile
Owners: none

config updates
  crates/mys-social-indexer/Dockerfile
  crates/mys-social-indexer/railway.toml
  crates/mys-social-indexer/src/lib.rs
Owners: none

Update Dockerfile
  crates/mys-social-indexer/Dockerfile
Owners: none

Update social indexer config
  crates/mys-graphql-rpc/src/config.rs
  crates/mys-graphql-rpc/src/server/builder.rs
  crates/mys-graphql-rpc/src/types/mod.rs
  crates/mys-graphql-rpc/src/types/query.rs
  crates/mys-graphql-rpc/src/types/social_profile.rs
Owners: @oxade, @amnn, @wlmyng, @stefan-mysten, @emmazzz, @myswombat

Update railway.toml
  crates/mys-social-indexer/railway.toml
Owners: none

Update cluster.rs
  crates/mys-graphql-rpc/src/test_infra/cluster.rs
Owners: @oxade, @amnn, @wlmyng, @stefan-mysten, @emmazzz, @myswombat

Made working GraphQL profile integration.
  crates/mys-faucet/src/faucet/simple_faucet.rs
  crates/mys-framework/packages/seal/sources/bf_hmac_encryption.move
  crates/mys-framework/packages/seal/sources/key_server.move
  crates/mys-graphql-rpc/src/server/builder.rs
  crates/mys-graphql-rpc/src/test_infra/cluster.rs
  crates/mys/src/mys_commands.rs
Owners: @oxade, @amnn, @wlmyng, @stefan-mysten, @emmazzz, @myswombat

Fixed database migrations.
  crates/mys-social-indexer/migrations/20250620000000_create_poc_tables/up.sql
  crates/mys-social-indexer/migrations/20250620000001_create_subscription_tables/up.sql
Owners: none

Update up.sql
  crates/mys-social-indexer/migrations/20250620000000_create_poc_tables/up.sql
Owners: none

Update up.sql
  crates/mys-social-indexer/migrations/20250620000000_create_poc_tables/up.sql
Owners: none

Update up.sql
  crates/mys-social-indexer/migrations/20250620000001_create_subscription_tables/up.sql
Owners: none

Added compression to the time scale database.
  crates/mys-social-indexer/migrations/20250620000000_create_poc_tables/up.sql
  crates/mys-social-indexer/migrations/20250622000001_spt_revenue_tracking/up.sql
Owners: none

Adjusted interval frequency for window size.
  crates/mys-social-indexer/migrations/20250620000001_create_subscription_tables/up.sql
  crates/mys-social-indexer/migrations/20250620000002_create_anonymous_voting_tables/up.sql
  crates/mys-social-indexer/migrations/20250622000001_spt_revenue_tracking/up.sql
Owners: none

fixed continuous aggregates cannot be created with initial data
  crates/mys-social-indexer/migrations/20250620000002_create_anonymous_voting_tables/up.sql
  crates/mys-social-indexer/migrations/20250622000001_spt_revenue_tracking/up.sql
Owners: none

fixed db issues
  crates/mys-social-indexer/migrations/20250620000002_create_anonymous_voting_tables/up.sql
Owners: none

fix db
  crates/mys-social-indexer/migrations/20250620000002_create_anonymous_voting_tables/up.sql
  crates/mys-social-indexer/migrations/20250622000001_spt_revenue_tracking/up.sql
Owners: none

Update up.sql
  crates/mys-social-indexer/migrations/20250620000002_create_anonymous_voting_tables/up.sql
Owners: none

Update up.sql
  crates/mys-social-indexer/migrations/20250622000001_spt_revenue_tracking/up.sql
Owners: none

Update up.sql
  crates/mys-social-indexer/migrations/20250622000001_spt_revenue_tracking/up.sql
Owners: none

renamed db table
  crates/mys-social-indexer/migrations/20250622000001_spt_revenue_tracking/down.sql
  crates/mys-social-indexer/migrations/20250622000001_spt_revenue_tracking/up.sql
Owners: none

Update up.sql
  crates/mys-social-indexer/migrations/20250622000001_spt_revenue_tracking/up.sql
Owners: none

Update up.sql
  crates/mys-social-indexer/migrations/20250622000001_spt_revenue_tracking/up.sql
Owners: none

Update up.sql
  crates/mys-social-indexer/migrations/20250622000001_spt_revenue_tracking/up.sql
Owners: none

Update up.sql
  crates/mys-social-indexer/migrations/20250622000001_spt_revenue_tracking/up.sql
Owners: none

Update up.sql
  crates/mys-social-indexer/migrations/20250622000001_spt_revenue_tracking/up.sql
Owners: none
