Repository The-Social-Proof-Foundation/mys-core, changes with the owners that .github/CODEOWNERS names for each.
All owners: @joyqvq, @kchalkias, @benr-ml, @patrickkuo, @mystenmark, @randall-Mysten, @ronny-mysten, @tharbert, @oxade, @amnn, @wlmyng, @stefan-mysten, @emmazzz, @myswombat, @MystenLabs/consensus

.github/CODEOWNERS:

/crates/mys-types/src/crypto.rs @joyqvq @kchalkias @benr-ml
/crates/mys-types/src/base_types.rs @joyqvq
/crates/mys-keys/ @joyqvq @patrickkuo
/crates/mys-protocol-config @mystenmark

*.md @randall-Mysten @ronny-mysten
# Omit auto-generated changelogs and changesets from docs review:
/.changeset/*.md
CHANGELOG.md

# When snapshot changes, most likely we will need to recreate the genesis blob.
/crates/mys-config/tests/snapshot_tests.rs @tharbert

# When native functions change, so we can evaluate cost impact
/crates/mys-framework/src/natives/ @oxade

# GraphQL RPC working group
/crates/mys-graphql-rpc/ @oxade @amnn @wlmyng @stefan-mysten @emmazzz @myswombat
/crates/mys-graphql-e2e-tests/ @oxade @amnn @wlmyng @stefan-mysten @emmazzz @myswombat

# Consensus working group
/consensus/ @MystenLabs/consensus
/crates/mys-core/src/consensus_handler.rs @MystenLabs/consensus
/crates/mys-core/src/consensus_adapter.rs @MystenLabs/consensus

updated apy logic
  crates/mys-graphql-rpc/src/types/stake_subsidy.rs
  crates/mys-graphql-rpc/src/types/system_state_summary.rs
Owners: @oxade, @amnn, @wlmyng, @stefan-mysten, @emmazzz, @myswombat

updated graphql and apy's
  crates/mys-graphql-rpc/src/types/stake_subsidy.rs
  crates/mys-graphql-rpc/src/types/system_state_summary.rs
  crates/mys-graphql-rpc/src/types/validator.rs
Owners: @oxade, @amnn, @wlmyng, @stefan-mysten, @emmazzz, @myswombat

updated MYS_PRIV_KEY_PREFIX to mysoprivkey
  crates/mys-keys/src/keypair_file.rs
  crates/mys-types/src/crypto.rs
  crates/mys/Cargo.toml
  crates/mys/src/keytool.rs
  docs/content/references/cli/cheatsheet.mdx
  docs/content/references/cli/keytool.mdx
  genesis/generate_keys.sh
  genesis/genesis_config.yaml
Owners: @joyqvq, @patrickkuo, @kchalkias, @benr-ml

updated protocol version from 74 to 75 with reduced gas fees by 50%
  Cargo.lock
  crates/mys-protocol-config/src/lib.rs
  crates/mys-protocol-config/src/snapshots/mys_protocol_config__test__Mainnet_version_75.snap
  crates/mys-protocol-config/src/snapshots/mys_protocol_config__test__Testnet_version_75.snap
  crates/mys-protocol-config/src/snapshots/mys_protocol_config__test__version_75.snap
  crates/mys-sdk/Cargo.toml
Owners: @mystenmark

bytecode_snapshot updates to v75 and more minor
  crates/mys-framework-snapshot/bytecode_snapshot/75/0x0000000000000000000000000000000000000000000000000000000000000001
  crates/mys-framework-snapshot/bytecode_snapshot/75/0x0000000000000000000000000000000000000000000000000000000000000002
  crates/mys-framework-snapshot/bytecode_snapshot/75/0x0000000000000000000000000000000000000000000000000000000000000003
  crates/mys-framework-snapshot/bytecode_snapshot/75/0x000000000000000000000000000000000000000000000000000000000000000b
  crates/mys-framework-snapshot/bytecode_snapshot/75/0x0000000000000000000000000000000000000000000000000000000000005ea1
  crates/mys-framework-snapshot/bytecode_snapshot/75/0x00000000000000000000000000000000000000000000000000000000000075d6
  crates/mys-framework-snapshot/bytecode_snapshot/75/0x000000000000000000000000000000000000000000000000000000000000d880
  crates/mys-framework-snapshot/bytecode_snapshot/75/0x000000000000000000000000000000000000000000000000000000000000dee9
  crates/mys-framework-snapshot/manifest.json
  crates/mys-open-rpc/spec/openrpc.json
  crates/mys-swarm-config/tests/snapshots/snapshot_tests__genesis_config_snapshot_matches.snap
  crates/mys-swarm-config/tests/snapshots/snapshot_tests__populated_genesis_snapshot_matches-2.snap
Owners: none

updated new genesis params
  crates/mys-framework-snapshot/manifest.json
  genesis/generate_keys.sh
  genesis/genesis_config.yaml
Owners: none

minor config updates
  crates/mys-protocol-config/src/lib.rs
  genesis/generate_keys.sh
  genesis/genesis_config.yaml
Owners: @mystenmark

updated eth bridge chain id to 54
  crates/mys-bridge/bridge-config-validator-1.yaml
  crates/mys-bridge/bridge-config-validator-2.yaml
  crates/mys-bridge/bridge-config-validator-3.yaml
  crates/mys-bridge/bridge-config.yaml
Owners: none

updated bridge eth chain id to 11
  crates/mys-bridge/bridge-config-validator-1.yaml
  crates/mys-bridge/bridge-config-validator-2.yaml
  crates/mys-bridge/bridge-config-validator-3.yaml
  crates/mys-bridge/bridge-config.yaml
  crates/mys-social-indexer/src/lib.rs
Owners: none

updated bridge id to 12, custom
  crates/mys-bridge/bridge-config-validator-1.yaml
  crates/mys-bridge/bridge-config-validator-2.yaml
  crates/mys-bridge/bridge-config-validator-3.yaml
  crates/mys-bridge/bridge-config.yaml
Owners: none

updated birdge node chain id to 2
  bridge/evm/deploy_configs/84532.json
  crates/mys-bridge-watchdog/watchdog-config.yaml
  crates/mys-bridge/bridge-config-validator-1.yaml
  crates/mys-bridge/bridge-config-validator-2.yaml
  crates/mys-bridge/bridge-config-validator-3.yaml
  crates/mys-bridge/bridge-config.yaml
Owners: none

bridge configs
  bridge/evm/deploy_configs/84532.json
  crates/mys-bridge/bridge-config-validator-1.yaml
  crates/mys-bridge/bridge-config-validator-2.yaml
  crates/mys-bridge/bridge-config-validator-3.yaml
  crates/mys-bridge/bridge-config.yaml
  crates/mys-bridge/railway-validator-1.toml
  crates/mys-bridge/railway-validator-2.toml
  crates/mys-bridge/railway-validator-3.toml
Owners: none

config updates
  bridge/evm/broadcast/deploy_bridge.s.sol/84532/run-latest.json
  crates/mys-bridge-indexer/config.yaml
  crates/mys-bridge/railway-validator-1.toml
  crates/mys-bridge/railway-validator-2.toml
  crates/mys-bridge/railway-validator-3.toml
  crates/mys-bridge/railway.toml
Owners: none

Update Cargo.toml
  crates/mys-faucet/Cargo.toml
Owners: none

bridge confg updates
  crates/mys-bridge-watchdog/watchdog-config.yaml
  crates/mys-bridge/bridge-config-validator-1.yaml
  crates/mys-bridge/bridge-config-validator-2.yaml
  crates/mys-bridge/bridge-config-validator-3.yaml
  crates/mys-bridge/bridge-config.yaml
  crates/mys-types/src/bridge.rs
Owners: none

minor
  crates/mys-bridge/bridge-config-validator-3.yaml
  crates/mys-types/src/bridge.rs
Owners: none

minor
  crates/mys-bridge/bridge-config-validator-1.yaml
  crates/mys-bridge/bridge-config-validator-2.yaml
  crates/mys-bridge/bridge-config-validator-3.yaml
  crates/mys-bridge/bridge-config.yaml
Owners: none

Update Cargo.toml
  crates/mys-bridge-indexer/Cargo.toml
Owners: none

minor
  crates/mys-bridge-cli/src/lib.rs
  crates/mys-bridge-indexer/Cargo.toml
  crates/mys-bridge/railway-validator-1.toml
  crates/mys-bridge/railway-validator-2.toml
  crates/mys-bridge/railway-validator-3.toml
  crates/mys-bridge/railway.toml
  genesis/genesis_config.yaml
Owners: none

Update bridge-config-validator-1.yaml
  crates/mys-bridge/bridge-config-validator-1.yaml
Owners: none

updated eth-rpc-url
  crates/mys-bridge/bridge-config-validator-1.yaml
  crates/mys-bridge/bridge-config-validator-2.yaml
  crates/mys-bridge/bridge-config-validator-3.yaml
  crates/mys-bridge/bridge-config.yaml
Owners: none

updated eth-contracts-start-block-fallback
  crates/mys-bridge/bridge-config-validator-1.yaml
  crates/mys-bridge/bridge-config-validator-2.yaml
  crates/mys-bridge/bridge-config-validator-3.yaml
  crates/mys-bridge/bridge-config.yaml
Owners: none

Update Dockerfile
  crates/mys-bridge-indexer/Dockerfile
Owners: none

Update Dockerfile
  crates/mys-bridge-indexer/Dockerfile
Owners: none

updpate
  crates/mys-bridge-indexer/config.yaml
  crates/mys-bridge/bridge-config-validator-1.yaml
  crates/mys-bridge/bridge-config-validator-2.yaml
  crates/mys-bridge/bridge-config-validator-3.yaml
  crates/mys-bridge/bridge-config.yaml
Owners: none

updated eth url
  crates/mys-bridge-indexer/config.yaml
  crates/mys-bridge-watchdog/watchdog-config.yaml
  crates/mys-bridge/bridge-config-validator-1.yaml
  crates/mys-bridge/bridge-config-validator-2.yaml
  crates/mys-bridge/bridge-config-validator-3.yaml
  crates/mys-bridge/bridge-config.yaml
Owners: none

minor
  crates/mys-bridge/railway-validator-1.toml
  crates/mys-bridge/railway-validator-2.toml
  crates/mys-bridge/railway-validator-3.toml
  crates/mys-bridge/railway.toml
Owners: none

metrics
  crates/mys-bridge/railway-validator-1.toml
  crates/mys-bridge/railway-validator-2.toml
  crates/mys-bridge/railway-validator-3.toml
  crates/mys-bridge/railway.toml
Owners: none

minor
  crates/mys-bridge/railway-validator-1.toml
  crates/mys-bridge/railway-validator-2.toml
  crates/mys-bridge/railway-validator-3.toml
  crates/mys-bridge/railway.toml
Owners: none

Update railway.toml
  crates/mys-bridge-indexer/railway.toml
Owners: none

update bridge config gov actions
  crates/mys-bridge/bridge-config-validator-1.yaml
  crates/mys-bridge/bridge-config-validator-2.yaml
  crates/mys-bridge/bridge-config-validator-3.yaml
Owners: none

updated to AddTokensOnMysAction
  crates/mys-bridge/bridge-config-validator-1.yaml
  crates/mys-bridge/bridge-config-validator-2.yaml
  crates/mys-bridge/bridge-config-validator-3.yaml
Owners: none

updated chain id
  crates/mys-bridge/bridge-config-validator-1.yaml
  crates/mys-bridge/bridge-config-validator-2.yaml
  crates/mys-bridge/bridge-config-validator-3.yaml
  crates/mys-bridge/bridge-config.yaml
Owners: none

token tyoe updates
  crates/mys-bridge/bridge-config-validator-1.yaml
  crates/mys-bridge/bridge-config-validator-2.yaml
  crates/mys-bridge/bridge-config-validator-3.yaml
  crates/mys-bridge/bridge-config.yaml
Owners: none

updated format
  crates/mys-bridge/bridge-config-validator-1.yaml
  crates/mys-bridge/bridge-config-validator-2.yaml
  crates/mys-bridge/bridge-config-validator-3.yaml
  crates/mys-bridge/bridge-config.yaml
Owners: none

update native to false
  crates/mys-bridge/bridge-config-validator-1.yaml
  crates/mys-bridge/bridge-config-validator-2.yaml
  crates/mys-bridge/bridge-config-validator-3.yaml
  crates/mys-bridge/bridge-config.yaml
Owners: none

Update README.md
  crates/mys-price-oracle/README.md
Owners: @randall-Mysten, @ronny-mysten

Update railway.toml
  crates/mys-price-oracle/railway.toml
Owners: none

Update railway.toml
  crates/mys-price-oracle/railway.toml
Owners: none

fixed price fetcher for the oracle
  crates/mys-price-oracle/railway.toml
  crates/mys-price-oracle/src/bridge_governance.rs
  crates/mys-price-oracle/src/config.rs
Owners: none
