Repository The-Social-Proof-Foundation/mys-core, changes with the owners that .github/CODEOWNERS names for each.
All owners: @joyqvq, @kchalkias, @benr-ml, @patrickkuo, @mystenmark, @randall-Mysten, @ronny-mysten, @tharbert, @oxade, @amnn, @wlmyng, @stefan-mysten, @emmazzz, @myswombat, @MystenLabs/consensus

Update Dockerfile
  crates/mys-analytics-indexer/Dockerfile
Owners: none

Update Dockerfile
  crates/mys-analytics-indexer/Dockerfile
Owners: none

Update lib.rs
  crates/mys-analytics-indexer/src/lib.rs
Owners: none

updated the DERIVATION_PATH_COIN_TYPE from 784 (sui) -> 6976 (myso)
  crates/mys-keys/src/key_derive.rs
  crates/mys/src/client_commands.rs
  crates/mys/src/keytool.rs
  crates/mys/src/unit_tests/keytool_tests.rs
  docs/content/concepts/cryptography/transaction-auth/keys-addresses.mdx
  docs/content/guides/developer/mys-101/sign-and-send-txn.mdx
  docs/content/references/cli/client.mdx
  docs/content/references/cli/keytool.mdx
Owners: @joyqvq, @patrickkuo

updated genesis configs & added token vesting
  crates/mys-framework/packages/mys-social/sources/profile.move
  crates/mys-framework/packages/mys-social/tests/profile_tests.move
  crates/mys-social-indexer/README.md
  crates/mys-social-indexer/migrations/20250624000000_add_vesting_system/down.sql
  crates/mys-social-indexer/migrations/20250624000000_add_vesting_system/up.sql
  crates/mys-social-indexer/src/api/handlers/mod.rs
  crates/mys-social-indexer/src/api/handlers/profile_events.rs
  crates/mys-social-indexer/src/api/handlers/vesting.rs
  crates/mys-social-indexer/src/api/routes.rs
  crates/mys-social-indexer/src/blockchain/profile_handler.rs
  crates/mys-social-indexer/src/events/profile_event_types.rs
  crates/mys-social-indexer/src/events/profile_events.rs
  crates/mys-social-indexer/src/models/mod.rs
  crates/mys-social-indexer/src/models/vesting.rs
  crates/mys-social-indexer/src/schema.rs
  genesis/generate_keys.sh
  genesis/genesis_config.yaml
Owners: @randall-Mysten, @ronny-mysten

updated to latest w/ correct depdendecy versions
  Cargo.lock
  Cargo.toml
  crates/mys-analytics-indexer/Cargo.toml
  crates/mys-framework-snapshot/bytecode_snapshot/74/0x000000000000000000000000000000000000000000000000000000000000d880
  crates/mys-framework-snapshot/manifest.json
  crates/mys-framework/docs/social_contracts/governance.md
  crates/mys-framework/docs/social_contracts/profile.md
  crates/mys-framework/docs/social_contracts/token_exchange.md
  crates/mys-framework/packages/mys-social/sources/profile.move
  crates/mys-framework/packages_compiled/mys-social
  crates/mys-framework/published_api.txt
  crates/mys-graphql-rpc-client/Cargo.toml
  crates/mys-graphql-rpc/Cargo.toml
  crates/mys-graphql-rpc/src/server/builder.rs
  crates/mys-mvr-graphql-rpc/Cargo.toml
  crates/mys-mvr-graphql-rpc/src/server/builder.rs
  crates/mys-security-watchdog/Cargo.toml
  crates/mys-swarm-config/tests/snapshots/snapshot_tests__populated_genesis_snapshot_matches-2.snap
  crates/transaction-fuzzer/src/lib.rs
  genesis/generate_keys.sh
  rust-toolchain.toml
Owners: @randall-Mysten, @ronny-mysten, @oxade, @amnn, @wlmyng, @stefan-mysten, @emmazzz, @myswombat

Update Cargo.lock
  Cargo.lock
Owners: none

updated builds
  crates/mys-framework-snapshot/bytecode_snapshot/74/0x000000000000000000000000000000000000000000000000000000000000d880
  crates/mys-framework-snapshot/manifest.json
  crates/mys-framework/docs/social_contracts/bootstrap.md
  crates/mys-framework/docs/social_contracts/governance.md
  crates/mys-framework/docs/social_contracts/platform.md
  crates/mys-framework/docs/social_contracts/post.md
  crates/mys-framework/docs/social_contracts/proof_of_creativity.md
  crates/mys-framework/docs/social_contracts/social_proof_tokens.md
  crates/mys-framework/docs/social_contracts/token_exchange.md
  crates/mys-framework/docs/social_contracts/upgrade.md
  crates/mys-framework/packages_compiled/mys-social
  crates/mys-framework/published_api.txt
  crates/mys-swarm-config/tests/snapshots/snapshot_tests__populated_genesis_snapshot_matches-2.snap
Owners: @randall-Mysten, @ronny-mysten

fixed search and new genesis blob
  crates/mys-social-indexer/src/api/handlers/search.rs
  genesis/generate_keys.sh
  genesis/genesis_config.yaml
Owners: none

updated search
  crates/mys-social-indexer/src/api/handlers/search.rs
Owners: none

minor
  crates/mys-social-indexer/README.md
  crates/mys-social-indexer/src/api/handlers/search.rs
Owners: @randall-Mysten, @ronny-mysten

simplified
  crates/mys-social-indexer/src/api/handlers/search.rs
Owners: none

updated faucet amount from 1 to 5
  crates/mys-faucet/src/faucet/mod.rs
Owners: none

fixed all bootstrapping issues
  crates/mys-framework/packages/mys-social/sources/block_list.move
  crates/mys-framework/packages/mys-social/sources/bootstrap.move
  crates/mys-framework/packages/mys-social/sources/governance.move
  crates/mys-framework/packages/mys-social/sources/my_ip.move
  crates/mys-framework/packages/mys-social/sources/platform.move
  crates/mys-framework/packages/mys-social/sources/post.move
  crates/mys-framework/packages/mys-social/sources/profile.move
  crates/mys-framework/packages/mys-social/sources/proof_of_creativity.move
  crates/mys-framework/packages/mys-social/sources/social_graph.move
  crates/mys-framework/packages/mys-social/sources/social_proof_tokens.move
  crates/mys-framework/packages/mys-social/sources/upgrade.move
Owners: none

build & .md updates
  crates/mys-framework-snapshot/bytecode_snapshot/74/0x000000000000000000000000000000000000000000000000000000000000d880
  crates/mys-framework-snapshot/manifest.json
  crates/mys-framework/docs/social_contracts/block_list.md
  crates/mys-framework/docs/social_contracts/bootstrap.md
  crates/mys-framework/docs/social_contracts/governance.md
  crates/mys-framework/docs/social_contracts/my_ip.md
  crates/mys-framework/docs/social_contracts/platform.md
  crates/mys-framework/docs/social_contracts/post.md
  crates/mys-framework/docs/social_contracts/profile.md
  crates/mys-framework/docs/social_contracts/proof_of_creativity.md
  crates/mys-framework/docs/social_contracts/social_graph.md
  crates/mys-framework/docs/social_contracts/social_proof_tokens.md
  crates/mys-framework/docs/social_contracts/upgrade.md
  crates/mys-framework/packages_compiled/mys-social
  crates/mys-framework/published_api.txt
  crates/mys-swarm-config/tests/snapshots/snapshot_tests__populated_genesis_snapshot_matches-2.snap
Owners: @randall-Mysten, @ronny-mysten

minor config updates
  genesis/generate_keys.sh
  genesis/genesis_config.yaml
Owners: none

removed publisher parameter cuz i'm an idiot
  crates/mys-framework/packages/mys-social/sources/bootstrap.move
  genesis/genesis_config.yaml
Owners: none

updated build
  crates/mys-framework-snapshot/bytecode_snapshot/74/0x000000000000000000000000000000000000000000000000000000000000d880
  crates/mys-framework-snapshot/manifest.json
  crates/mys-framework/docs/social_contracts/bootstrap.md
  crates/mys-framework/packages_compiled/mys-social
  crates/mys-swarm-config/tests/snapshots/snapshot_tests__populated_genesis_snapshot_matches-2.snap
Owners: @randall-Mysten, @ronny-mysten

minor config updates
  genesis/generate_keys.sh
  genesis/genesis_config.yaml
Owners: none

fixed is_following, social graph events, and profile events
  crates/mys-social-indexer/src/api/handlers/social_graph.rs
  crates/mys-social-indexer/src/blockchain/profile_handler.rs
  crates/mys-social-indexer/src/blockchain/social_graph_handler.rs
Owners: none

Update social_graph.rs
  crates/mys-social-indexer/src/api/handlers/social_graph.rs
Owners: none

Update social_graph.rs
  crates/mys-social-indexer/src/api/handlers/social_graph.rs
Owners: none

Update social_graph_handler.rs
  crates/mys-social-indexer/src/blockchain/social_graph_handler.rs
Owners: none

updated followers and following list endpoints
  crates/mys-social-indexer/src/api/handlers/social_graph.rs
  crates/mys-social-indexer/src/models/social_graph.rs
Owners: none

updated social graph count and followers and following list endpoint
  crates/mys-social-indexer/README.md
  crates/mys-social-indexer/src/api/handlers/social_graph.rs
  crates/mys-social-indexer/src/blockchain/social_graph_handler.rs
  crates/mys-social-indexer/src/models/social_graph.rs
  crates/mys-social-indexer/src/worker.rs
Owners: @randall-Mysten, @ronny-mysten

Updated stats and search parameters
  crates/mys-social-indexer/README.md
  crates/mys-social-indexer/src/api/handlers/mod.rs
  crates/mys-social-indexer/src/api/handlers/search.rs
  crates/mys-social-indexer/src/api/handlers/stats.rs
  crates/mys-social-indexer/src/api/routes.rs
Owners: @randall-Mysten, @ronny-mysten

Updated Social Indexer to make profile-to-profile blocking work.
  crates/mys-social-indexer/src/api/handlers/blocking.rs
  crates/mys-social-indexer/src/blockchain/block_list_handler.rs
  crates/mys-social-indexer/src/blockchain/profile_handler.rs
  crates/mys-social-indexer/src/events/blocking_events.rs
  crates/mys-social-indexer/src/events/mod.rs
  crates/mys-social-indexer/src/worker.rs
Owners: none

Data blocking to be more Robust
  crates/mys-social-indexer/migrations/20250625000000_implement_blocking_system/down.sql
  crates/mys-social-indexer/migrations/20250625000000_implement_blocking_system/up.sql
  crates/mys-social-indexer/src/api/handlers/blocking.rs
  crates/mys-social-indexer/src/events/blocking_events.rs
  crates/mys-social-indexer/src/models/blocking/blocked_events.rs
  crates/mys-social-indexer/src/models/blocking/blocked_profiles.rs
  crates/mys-social-indexer/src/models/blocking/mod.rs
  crates/mys-social-indexer/src/models/blocking/profile_blocks.rs
  crates/mys-social-indexer/src/schema.rs
Owners: none

updated blocking with rich data
  crates/mys-social-indexer/migrations/20250625000000_implement_blocking_system/up.sql
  crates/mys-social-indexer/src/api/handlers/blocking.rs
  crates/mys-social-indexer/src/events/blocking_events.rs
  crates/mys-social-indexer/src/models/blocking/blocked_profiles.rs
  crates/mys-social-indexer/src/schema.rs
Owners: none

Update blocking_events.rs
  crates/mys-social-indexer/src/events/blocking_events.rs
Owners: none

mior
  crates/mys-social-indexer/migrations/20250625000001_remove_indexer_progress/down.sql
  crates/mys-social-indexer/migrations/20250625000001_remove_indexer_progress/up.sql
Owners: none

I did a Docker and Railway file to do forced diesel migration.
  crates/mys-social-indexer/Dockerfile
  crates/mys-social-indexer/railway.toml
Owners: none

It's a remove diesel and use native migration.
  crates/mys-social-indexer/Dockerfile
  crates/mys-social-indexer/railway.toml
Owners: none

added new SPoT feature along with the social indexer integrations.
  crates/mys-framework/packages/mys-social/.gitignore
  crates/mys-framework/packages/mys-social/README.md
  crates/mys-framework/packages/mys-social/sources/platform.move
  crates/mys-framework/packages/mys-social/sources/post.move
  crates/mys-framework/packages/mys-social/sources/social_proof_of_truth.move
  crates/mys-framework/packages/mys-social/sources/social_proof_tokens.move
  crates/mys-framework/packages/mys-social/tests/platform_tests.move
  crates/mys-framework/packages/mys-social/tests/social_proof_of_truth_tests.move
  crates/mys-social-indexer/Dockerfile
  crates/mys-social-indexer/README.md
  crates/mys-social-indexer/migrations/2025-08-25-185416_force_blocking_schema_update/down.sql
  crates/mys-social-indexer/migrations/2025-08-25-185416_force_blocking_schema_update/up.sql
  crates/mys-social-indexer/migrations/20250912000000_create_spot_tables/down.sql
  crates/mys-social-indexer/migrations/20250912000000_create_spot_tables/up.sql
  crates/mys-social-indexer/migrations/20250912001000_add_social_proof_of_truth_table/down.sql
  crates/mys-social-indexer/migrations/20250912001000_add_social_proof_of_truth_table/up.sql
  crates/mys-social-indexer/railway.toml
  crates/mys-social-indexer/src/api/handlers/mod.rs
  crates/mys-social-indexer/src/api/handlers/spot.rs
  crates/mys-social-indexer/src/api/routes.rs
  crates/mys-social-indexer/src/events/mod.rs
  crates/mys-social-indexer/src/events/social_proof_of_truth_events.rs
  crates/mys-social-indexer/src/models/mod.rs
  crates/mys-social-indexer/src/models/social_proof_of_truth.rs
  crates/mys-social-indexer/src/schema.rs
  crates/mys-social-indexer/src/worker.rs
Owners: @randall-Mysten, @ronny-mysten

I added proper search and filter queries to the blocked and following lists.
  crates/mys-social-indexer/README.md
  crates/mys-social-indexer/src/api/handlers/blocking.rs
  crates/mys-social-indexer/src/api/handlers/social_graph.rs
  crates/mys-social-indexer/src/models/blocking/blocked_profiles.rs
  crates/mys-social-indexer/src/models/social_graph.rs
Owners: @randall-Mysten, @ronny-mysten

added blocked_count to profile
  crates/mys-social-indexer/Cargo.toml
  crates/mys-social-indexer/migrations/20250918000000_add_blocked_count_to_profiles/down.sql
  crates/mys-social-indexer/migrations/20250918000000_add_blocked_count_to_profiles/up.sql
  crates/mys-social-indexer/src/api/handlers/stats.rs
  crates/mys-social-indexer/src/blockchain/block_list_handler.rs
  crates/mys-social-indexer/src/events/blocking_events.rs
  crates/mys-social-indexer/src/events/profile_events.rs
  crates/mys-social-indexer/src/events/social_graph_events.rs
  crates/mys-social-indexer/src/models/profile.rs
  crates/mys-social-indexer/src/schema.rs
  crates/mys-social-indexer/src/worker.rs
Owners: none

updated bridge metrics config
  crates/mys-bridge/bridge-config.yaml
Owners: none

three new bridge config files and more configs
  crates/mys-bridge-indexer/config.yaml
  crates/mys-bridge-watchdog/railway.toml
  crates/mys-bridge-watchdog/watchdog-config.yaml
  crates/mys-bridge/Dockerfile
  crates/mys-bridge/bridge-config-validator-1.yaml
  crates/mys-bridge/bridge-config-validator-2.yaml
  crates/mys-bridge/bridge-config-validator-3.yaml
  crates/mys-bridge/railway-validator-1.toml
  crates/mys-bridge/railway-validator-2.toml
  crates/mys-bridge/railway-validator-3.toml
Owners: none

removed un-needed files and updated genesis config files
  .gitignore
  1.sh
  1.txt
  _changed_snapshot/0x0000000000000000000000000000000000000000000000000000000000000001
  _changed_snapshot/0x0000000000000000000000000000000000000000000000000000000000000002
  _changed_snapshot/0x0000000000000000000000000000000000000000000000000000000000000003
  _changed_snapshot/0x000000000000000000000000000000000000000000000000000000000000000b
  _changed_snapshot/0x000000000000000000000000000000000000000000000000000000000000dee9
  bridge/incentivize_testnet_faq.md
  bridge/runbook/validator_runbook.md
  genesis/generate_keys.sh
  genesis/genesis_config.yaml
Owners: @randall-Mysten, @ronny-mysten

new social migration db files and much more
  Cargo.lock
  crates/mys-framework-snapshot/bytecode_snapshot/74/0x000000000000000000000000000000000000000000000000000000000000d880
  crates/mys-framework-snapshot/manifest.json
  crates/mys-framework/docs/social_contracts/platform.md
  crates/mys-framework/docs/social_contracts/post.md
  crates/mys-framework/docs/social_contracts/social_proof_of_truth.md
  crates/mys-framework/docs/social_contracts/social_proof_tokens.md
  crates/mys-framework/packages_compiled/mys-social
  crates/mys-framework/published_api.txt
  crates/mys-social-indexer/migrations/20250330000001_update_profiles_remove_sensitive_data_add_post_count/down.sql
  crates/mys-social-indexer/migrations/20250330000001_update_profiles_remove_sensitive_data_add_post_count/up.sql
  crates/mys-social-indexer/migrations/20250330000002_add_min_offer_amount_to_profiles/down.sql
  crates/mys-social-indexer/migrations/20250330000002_add_min_offer_amount_to_profiles/up.sql
  crates/mys-swarm-config/tests/snapshots/snapshot_tests__populated_genesis_snapshot_matches-2.snap
  genesis/generate_keys.sh
  genesis/genesis_config.yaml
Owners: @randall-Mysten, @ronny-mysten

.github/CODEOWNERS:

/crates/mys-types/src/crypto.rs @joyqvq @kchalkias @benr-ml
/crates/mys-types/src/base_types.rs @joyqvq
/crates/mys-keys/ @joyqvq @patrickkuo
/crates/mys-protocol-config @mystenmark

*.md @randall-Mysten @ronny-mysten
# Omit auto-generated changelogs and changesets from docs review:
/.changeset/*.md
CHANGELOG.md

# When snapshot changes, most likely we will need to recreate the genesis blob.
/crates/mys-config/tests/snapshot_tests.rs @tharbert

# When native functions change, so we can evaluate cost impact
/crates/mys-framework/src/natives/ @oxade

# GraphQL RPC working group
/crates/mys-graphql-rpc/ @oxade @amnn @wlmyng @stefan-mysten @emmazzz @myswombat
/crates/mys-graphql-e2e-tests/ @oxade @amnn @wlmyng @stefan-mysten @emmazzz @myswombat

# Consensus working group
/consensus/ @MystenLabs/consensus
/crates/mys-core/src/consensus_handler.rs @MystenLabs/consensus
/crates/mys-core/src/consensus_adapter.rs @MystenLabs/consensus
