Repository The-Social-Proof-Foundation/mys-core, changes with the owners that .github/CODEOWNERS names for each.
All owners: @joyqvq, @kchalkias, @benr-ml, @patrickkuo, @mystenmark, @randall-Mysten, @ronny-mysten, @tharbert, @oxade, @amnn, @wlmyng, @stefan-mysten, @emmazzz, @myswombat, @MystenLabs/consensus

.github/CODEOWNERS:

/crates/mys-types/src/crypto.rs @joyqvq @kchalkias @benr-ml
/crates/mys-types/src/base_types.rs @joyqvq
/crates/mys-keys/ @joyqvq @patrickkuo
/crates/mys-protocol-config @mystenmark

*.md @randall-Mysten @ronny-mysten
# Omit auto-generated changelogs and changesets from docs review:
/.changeset/*.md
CHANGELOG.md

# When snapshot changes, most likely we will need to recreate the genesis blob.
/crates/mys-config/tests/snapshot_tests.rs @tharbert

# When native functions change, so we can evaluate cost impact
/crates/mys-framework/src/natives/ @oxade

# GraphQL RPC working group
/crates/mys-graphql-rpc/ @oxade @amnn @wlmyng @stefan-mysten @emmazzz @myswombat
/crates/mys-graphql-e2e-tests/ @oxade @amnn @wlmyng @stefan-mysten @emmazzz @myswombat

# Consensus working group
/consensus/ @MystenLabs/consensus
/crates/mys-core/src/consensus_handler.rs @MystenLabs/consensus
/crates/mys-core/src/consensus_adapter.rs @MystenLabs/consensus

Update listener.rs
  crates/mys-social-indexer/src/blockchain/listener.rs
Owners: none

Update listener.rs
  crates/mys-social-indexer/src/blockchain/listener.rs
Owners: none

fixed staking apy graphql and rpc endpoints
  crates/mys-graphql-rpc/src/data/apys.rs
  crates/mys-json-rpc/src/governance_api.rs
  crates/mys-mvr-graphql-rpc/src/data/apys.rs
  crates/mys-mvr-graphql-rpc/src/types/validator.rs
Owners: @oxade, @amnn, @wlmyng, @stefan-mysten, @emmazzz, @myswombat

fixed GraphQL system_state and validators to show the true return value of the staking.
  crates/mys-graphql-rpc/src/types/system_state_summary.rs
  crates/mys-graphql-rpc/src/types/validator.rs
Owners: @oxade, @amnn, @wlmyng, @stefan-mysten, @emmazzz, @myswombat

Update system_state_summary.rs
  crates/mys-graphql-rpc/src/types/system_state_summary.rs
Owners: @oxade, @amnn, @wlmyng, @stefan-mysten, @emmazzz, @myswombat

Update system_state_summary.rs
  crates/mys-graphql-rpc/src/types/system_state_summary.rs
Owners: @oxade, @amnn, @wlmyng, @stefan-mysten, @emmazzz, @myswombat

Update myusd.move
  crates/mys-framework/packages/myusd/sources/myusd.move
Owners: none

Updated to allow the owner of the upgrade admin cap to publish packages only.
  crates/mys-core/src/authority.rs
  crates/mys-transaction-checks/src/deny.rs
  crates/simulacrum/src/epoch_state.rs
Owners: none

latest builds and configs
  Cargo.lock
  Cargo.toml
  crates/mys-framework-snapshot/bytecode_snapshot/75/0x00000000000000000000000000000000000000000000000000000000000050c1
  crates/mys-framework-snapshot/bytecode_snapshot/75/0x00000000000000000000000000000000000000000000000000000000000075d6
  crates/mys-framework-snapshot/manifest.json
  crates/mys-framework/docs/myusd/myusd.md
  crates/mys-framework/docs/social_contracts/block_list.md
  crates/mys-framework/docs/social_contracts/governance.md
  crates/mys-framework/docs/social_contracts/message.md
  crates/mys-framework/docs/social_contracts/mydata.md
  crates/mys-framework/docs/social_contracts/platform.md
  crates/mys-framework/docs/social_contracts/post.md
  crates/mys-framework/docs/social_contracts/profile.md
  crates/mys-framework/docs/social_contracts/proof_of_creativity.md
  crates/mys-framework/docs/social_contracts/social_proof_of_truth.md
  crates/mys-framework/docs/social_contracts/social_proof_tokens.md
  crates/mys-framework/docs/social_contracts/subscription.md
  crates/mys-framework/packages/mys-framework/sources/coin.move
  crates/mys-framework/packages_compiled/mys-social
  crates/mys-framework/packages_compiled/myusd
  crates/mys-framework/published_api.txt
  crates/mys-swarm-config/tests/snapshots/snapshot_tests__populated_genesis_snapshot_matches-2.snap
  crates/mysop-cli/Cargo.toml
Owners: @randall-Mysten, @ronny-mysten

minor
  Cargo.lock
  crates/mys-proxy/Cargo.toml
Owners: none

Pointed dependecies back to the workspace
  Cargo.lock
  crates/mys-faucet/Cargo.toml
Owners: none

minor
  Cargo.lock
  crates/mys-framework-snapshot/manifest.json
Owners: none

minor
  genesis/generate_keys.sh
  genesis/genesis_config.yaml
Owners: none

Updated deposit to build successfully.
  Cargo.lock
  Cargo.toml
  crates/mys-faucet/Cargo.toml
Owners: none

updated faucet
  .dockerignore
  crates/mys-faucet/Cargo.toml
  crates/mys-faucet/Dockerfile
  crates/mys-faucet/railway.json
  crates/mys-faucet/railway.toml
Owners: none

minor for the faucet
  crates/mys-faucet/Dockerfile
  crates/mys-faucet/railway.json
  crates/mys-faucet/railway.toml
Owners: none

minor
  crates/mys-faucet/railway.json
  crates/mys-faucet/railway.toml
Owners: none

ehhhh
  crates/mys-faucet/Cargo.toml
  crates/mys-faucet/Dockerfile
  crates/mys-faucet/railway.json
  crates/mys-faucet/railway.toml
Owners: none

minor faucet updates
  crates/mys-faucet/railway.json
  crates/mys-faucet/railway.toml
Owners: none

Update railway.toml
  crates/mys-faucet/railway.toml
Owners: none

removed the axum-server in the mys-edge-proxy
  Cargo.lock
  crates/mys-edge-proxy/Cargo.toml
  crates/mys-edge-proxy/src/main.rs
Owners: none

fixed axum's versioning issues
  Cargo.lock
  Cargo.toml
  nre/bpf/nodefw/Cargo.lock
  nre/bpf/nodefw/nodefw/Cargo.toml
  nre/bpf/nodefw/nodefw/src/server.rs
Owners: none

minor
  crates/mys-faucet/railway.json
  crates/mys-faucet/railway.toml
Owners: none

Create railway.json
  crates/mys-faucet/railway.json
Owners: none

Create railway.json
  .railway/railway.json
Owners: none

Delete railway.json
  .railway/railway.json
Owners: none

minor
  Cargo.toml
  crates/mys-http/Cargo.toml
Owners: none

Update railway.toml
  crates/mys-faucet/railway.toml
Owners: none

minor
  crates/mys-faucet/railway.json
  crates/mys-faucet/railway.toml
Owners: none

minor faucet fixes
  crates/mys-faucet/railway.json
  crates/mys-faucet/railway.toml
Owners: none

Update Dockerfile
  crates/mys-faucet/Dockerfile
Owners: none

Update .dockerignore
  .dockerignore
Owners: none

Update Cargo.toml
  crates/mys-faucet/Cargo.toml
Owners: none

fixed build locally
  Cargo.lock
  Cargo.toml
  crates/mys-faucet/Cargo.toml
Owners: none

minorrr
  .dockerignore
  crates/mys-faucet/railway.toml
Owners: none

moved console-subscriber down to 0.4
  Cargo.lock
  Cargo.toml
Owners: none

Update railway.toml
  crates/mys-faucet/railway.toml
Owners: none

Update Cargo.toml
  Cargo.toml
Owners: none

Update railway.toml
  crates/mys-faucet/railway.toml
Owners: none

minor
  Cargo.lock
  Cargo.toml
  crates/mys-faucet/railway.toml
Owners: none
