Repository The-Social-Proof-Foundation/mys-core, changes with the owners that .github/CODEOWNERS names for each.
All owners: @joyqvq, @kchalkias, @benr-ml, @patrickkuo, @mystenmark, @randall-Mysten, @ronny-mysten, @tharbert, @oxade, @amnn, @wlmyng, @stefan-mysten, @emmazzz, @myswombat, @MystenLabs/consensus

fixed complete staking distribution logic
  crates/mys-config/src/genesis.rs
  crates/mys-framework-snapshot/bytecode_snapshot/75/0x0000000000000000000000000000000000000000000000000000000000000003
  crates/mys-framework-snapshot/manifest.json
  crates/mys-framework/docs/mys_system/genesis.md
  crates/mys-framework/docs/mys_system/mys_system_state_inner.md
  crates/mys-framework/docs/mys_system/stake_subsidy.md
  crates/mys-framework/docs/mys_system/validator_set.md
  crates/mys-framework/packages/mys-system/sources/genesis.move
  crates/mys-framework/packages/mys-system/sources/stake_subsidy.move
  crates/mys-framework/packages/mys-system/sources/validator_set.move
  crates/mys-framework/packages_compiled/mys-system
  crates/mys-framework/published_api.txt
  crates/mys-genesis-builder/src/lib.rs
  crates/mys-graphql-rpc/examples/mys_system_state_summary/mys_system_state_summary.graphql
  crates/mys-graphql-rpc/src/types/stake_subsidy.rs
  crates/mys-graphql-rpc/src/types/system_state_summary.rs
  crates/mys-mvr-graphql-rpc/examples/mys_system_state_summary/mys_system_state_summary.graphql
  crates/mys-mvr-graphql-rpc/src/types/stake_subsidy.rs
  crates/mys-mvr-graphql-rpc/src/types/system_state_summary.rs
  crates/mys-open-rpc/spec/openrpc.json
  crates/mys-types/src/mys_system_state/mys_system_state_inner_v1.rs
  crates/mys-types/src/mys_system_state/mys_system_state_inner_v2.rs
  crates/mys-types/src/mys_system_state/mys_system_state_summary.rs
  genesis/genesis_config.yaml
Owners: @randall-Mysten, @ronny-mysten, @oxade, @amnn, @wlmyng, @stefan-mysten, @emmazzz, @myswombat

Update genesis_config.yaml
  genesis/genesis_config.yaml
Owners: none

Update genesis_config.yaml
  genesis/genesis_config.yaml
Owners: none

Update genesis_config.yaml
  genesis/genesis_config.yaml
Owners: none

fixes
  crates/mys-graphql-rpc/src/types/safe_mode.rs
  crates/mys-mvr-graphql-rpc/src/types/safe_mode.rs
Owners: @oxade, @amnn, @wlmyng, @stefan-mysten, @emmazzz, @myswombat

migration fixes
  crates/mys-social-indexer/migrations/20260111000000_rename_trading_halted_to_trading_enabled/down.sql
  crates/mys-social-indexer/migrations/20260111000000_rename_trading_halted_to_trading_enabled/up.sql
Owners: none

minor fixes
  crates/mys-faucet/src/faucet/simple_faucet.rs
  crates/mys-framework-snapshot/manifest.json
  crates/mys-indexer/src/indexer_reader.rs
Owners: none

minor bridge config updates
  bridge/evm/broadcast/DeployMySocialTokenAdapter.s.sol/84532/run-latest.json
  bridge/evm/broadcast/deploy_bridge.s.sol/84532/run-latest.json
  bridge/evm/deploy_configs/84532.json
  crates/mys-bridge-indexer/config.yaml
  crates/mys-bridge/bridge-config-validator-1.yaml
  crates/mys-bridge/bridge-config-validator-2.yaml
  crates/mys-bridge/bridge-config-validator-3.yaml
Owners: none

minor
  crates/mys-bridge/bridge-config-validator-1.yaml
  crates/mys-bridge/bridge-config-validator-2.yaml
  crates/mys-bridge/bridge-config-validator-3.yaml
Owners: none

updated bridge nodes with the right proxy address
  crates/mys-bridge-cli/src/lib.rs
  crates/mys-bridge/bridge-config-validator-1.yaml
  crates/mys-bridge/bridge-config-validator-2.yaml
  crates/mys-bridge/bridge-config-validator-3.yaml
  crates/mys-bridge/src/node.rs
Owners: none

Update platform_handler.rs
  crates/mys-social-indexer/src/blockchain/platform_handler.rs
Owners: none

added upgradable to SPT's and updated social indexer's treasury endpoints
  crates/mys-framework/packages/mys-social/sources/social_proof_of_truth.move
  crates/mys-framework/packages/mys-social/sources/social_proof_tokens.move
  crates/mys-social-indexer/src/api/handlers/treasury.rs
  crates/mys-social-indexer/src/models/mod.rs
  crates/mys-social-indexer/src/models/treasury.rs
Owners: none

Update platforms.rs
  crates/mys-social-indexer/src/api/handlers/platforms.rs
Owners: none

Update social_proof_token_handler.rs
  crates/mys-social-indexer/src/blockchain/social_proof_token_handler.rs
Owners: none

Update social_graph.rs
  crates/mys-social-indexer/src/api/handlers/social_graph.rs
Owners: none

Major update including configuration, smart contracts, social indexer updates, and database updates
  crates/mys-framework/packages/move-stdlib/Move.lock
  crates/mys-framework/packages/mys-framework/Move.lock
  crates/mys-framework/packages/mys-social/sources/insurance.move
  crates/mys-framework/packages/mys-social/sources/message.move
  crates/mys-framework/packages/mys-social/sources/mydata.move
  crates/mys-framework/packages/mys-social/sources/post.move
  crates/mys-framework/packages/mys-social/sources/social_proof_of_truth.move
  crates/mys-framework/packages/mys-social/tests/insurance_tests.move
  crates/mys-framework/packages/mys-social/tests/message_tests.move
  crates/mys-framework/packages/mys-social/tests/mydata_tests.move
  crates/mys-framework/packages/mys-social/tests/post_tests.move
  crates/mys-framework/packages/mys-social/tests/social_proof_of_truth_tests.move
  crates/mys-social-indexer/migrations/20260114223339_update_spot_config_schema/down.sql
  crates/mys-social-indexer/migrations/20260114223339_update_spot_config_schema/up.sql
  crates/mys-social-indexer/migrations/20260114225121_update_insurance_config_schema/down.sql
  crates/mys-social-indexer/migrations/20260114225121_update_insurance_config_schema/up.sql
  crates/mys-social-indexer/migrations/20260114230505_update_mydata_config_default/down.sql
  crates/mys-social-indexer/migrations/20260114230505_update_mydata_config_default/up.sql
  crates/mys-social-indexer/src/api/handlers/insurance.rs
  crates/mys-social-indexer/src/api/handlers/spot.rs
  crates/mys-social-indexer/src/blockchain/social_proof_of_truth_handler.rs
  crates/mys-social-indexer/src/events/insurance_events.rs
  crates/mys-social-indexer/src/events/social_proof_of_truth_events.rs
  crates/mys-social-indexer/src/models/insurance.rs
  crates/mys-social-indexer/src/models/social_proof_of_truth.rs
  crates/mys-social-indexer/src/schema.rs
Owners: none

Re-architecture the follow link and block accounts with a new wallet social graph table so that we can track all profiles and wallet addresses' following count.
  crates/mys-social-indexer/migrations/20260115001843_create_wallet_social_graph/down.sql
  crates/mys-social-indexer/migrations/20260115001843_create_wallet_social_graph/up.sql
  crates/mys-social-indexer/migrations/20260115001846_update_social_graph_triggers/down.sql
  crates/mys-social-indexer/migrations/20260115001846_update_social_graph_triggers/up.sql
  crates/mys-social-indexer/migrations/20260115001854_add_profile_creation_migration/down.sql
  crates/mys-social-indexer/migrations/20260115001854_add_profile_creation_migration/up.sql
  crates/mys-social-indexer/migrations/20260115001857_add_profile_transfer_migration/down.sql
  crates/mys-social-indexer/migrations/20260115001857_add_profile_transfer_migration/up.sql
  crates/mys-social-indexer/migrations/20260115001902_update_blocked_count_triggers/down.sql
  crates/mys-social-indexer/migrations/20260115001902_update_blocked_count_triggers/up.sql
  crates/mys-social-indexer/migrations/20260115001905_backfill_wallet_social_graph/down.sql
  crates/mys-social-indexer/migrations/20260115001905_backfill_wallet_social_graph/up.sql
  crates/mys-social-indexer/src/api/handlers/social_graph.rs
  crates/mys-social-indexer/src/events/blocking_events.rs
  crates/mys-social-indexer/src/models/mod.rs
  crates/mys-social-indexer/src/models/wallet_social_graph.rs
  crates/mys-social-indexer/src/schema.rs
Owners: none

ixed to fallback to use new wallet_social_graph
  crates/mys-social-indexer/src/api/handlers/blocking.rs
  crates/mys-social-indexer/src/api/handlers/profiles.rs
  crates/mys-social-indexer/src/api/handlers/social_graph.rs
Owners: none

minor endpoints
  crates/mys-social-indexer/src/api/handlers/blocking.rs
  crates/mys-social-indexer/src/api/handlers/social_graph.rs
Owners: none

fixed wallet only account follow back response
  crates/mys-social-indexer/src/api/handlers/social_graph.rs
Owners: none

Created new PackagePublishingAdminCap so owner can publish packages to then create new coins for the bridge and trading..
  crates/mys-framework/packages/mys-framework/sources/coin.move
  crates/mys-framework/packages/mys-framework/sources/package.move
  crates/mys-framework/packages/mys-social/sources/bootstrap.move
  crates/mys-transaction-checks/src/deny.rs
Owners: none

updated .md
  CODE_OF_CONDUCT.MD
  CONTRIBUTING.md
  README.md
  RELEASES.md
Owners: @randall-Mysten, @ronny-mysten

minor
  chocolatey/mys.nuspec
  genesis/generate_keys.sh
  genesis/genesis_config.yaml
Owners: none

Update genesis_config.yaml
  genesis/genesis_config.yaml
Owners: none

Fixed to work with updated SPT configs
  crates/mys-framework/packages/orderbook/Move.lock
  crates/mys-social-indexer/migrations/20260122165006_update_spt_config_schema/down.sql
  crates/mys-social-indexer/migrations/20260122165006_update_spt_config_schema/up.sql
  crates/mys-social-indexer/src/api/handlers/social_graph.rs
  crates/mys-social-indexer/src/api/handlers/social_proof_token.rs
  crates/mys-social-indexer/src/api/handlers/treasury.rs
  crates/mys-social-indexer/src/blockchain/social_proof_token_handler.rs
  crates/mys-social-indexer/src/events/blocking_events.rs
  crates/mys-social-indexer/src/events/social_proof_token_events.rs
  crates/mys-social-indexer/src/models/social_proof_token.rs
  crates/mys-social-indexer/src/schema.rs
Owners: none

Updated PoC indexer
  crates/mys-social-indexer/migrations/20260122171440_add_max_votes_per_dispute_to_poc_config/down.sql
  crates/mys-social-indexer/migrations/20260122171440_add_max_votes_per_dispute_to_poc_config/up.sql
  crates/mys-social-indexer/src/events/poc_event_types.rs
  crates/mys-social-indexer/src/events/poc_events.rs
  crates/mys-social-indexer/src/models/poc.rs
  crates/mys-social-indexer/src/schema.rs
Owners: none

Update social_proof_token_events.rs
  crates/mys-social-indexer/src/events/social_proof_token_events.rs
Owners: none

Update social_proof_token_handler.rs
  crates/mys-social-indexer/src/blockchain/social_proof_token_handler.rs
Owners: none

minor
  crates/mys-social-indexer/src/blockchain/event_router.rs
  crates/mys-social-indexer/src/main.rs
Owners: none

fixed PoC to store oracle address too
  crates/mys-social-indexer/migrations/20260122184013_add_oracle_address_to_poc_config/down.sql
  crates/mys-social-indexer/migrations/20260122184013_add_oracle_address_to_poc_config/up.sql
  crates/mys-social-indexer/src/api/handlers/poc.rs
  crates/mys-social-indexer/src/blockchain/poc_handler.rs
  crates/mys-social-indexer/src/blockchain/social_proof_token_handler.rs
  crates/mys-social-indexer/src/events/poc_events.rs
  crates/mys-social-indexer/src/models/poc.rs
  crates/mys-social-indexer/src/schema.rs
Owners: none

updated PoC to include needed values of config
  crates/mys-framework/packages/mys-social/sources/proof_of_creativity.move
  crates/mys-social-indexer/src/blockchain/poc_handler.rs
  crates/mys-social-indexer/src/events/poc_event_types.rs
  crates/mys-social-indexer/src/events/poc_events.rs
Owners: none

Update poc.rs
  crates/mys-social-indexer/src/api/handlers/poc.rs
Owners: none

Update poc.rs
  crates/mys-social-indexer/src/api/handlers/poc.rs
Owners: none

added support for version numbers in post and fixed smart contracts too
  crates/mys-framework/packages/mys-social/sources/mydata.move
  crates/mys-framework/packages/mys-social/sources/post.move
  crates/mys-social-indexer/migrations/20260124010622_add_version_to_post_config/down.sql
  crates/mys-social-indexer/migrations/20260124010622_add_version_to_post_config/up.sql
  crates/mys-social-indexer/src/api/handlers/posts.rs
  crates/mys-social-indexer/src/blockchain/post_handler.rs
  crates/mys-social-indexer/src/events/post_event_types.rs
  crates/mys-social-indexer/src/models/post.rs
  crates/mys-social-indexer/src/schema.rs
Owners: none

fixed platform level blocking to wallet addresses
  crates/mys-social-indexer/migrations/20260124000000_rename_platform_blocked_profiles_profile_id_to_wallet_address/down.sql
  crates/mys-social-indexer/migrations/20260124000000_rename_platform_blocked_profiles_profile_id_to_wallet_address/up.sql
  crates/mys-social-indexer/src/api/handlers/platforms.rs
  crates/mys-social-indexer/src/blockchain/block_list_handler.rs
  crates/mys-social-indexer/src/blockchain/platform_handler.rs
  crates/mys-social-indexer/src/events/blocking_events.rs
  crates/mys-social-indexer/src/models/platform.rs
  crates/mys-social-indexer/src/schema.rs
  crates/mys-social-indexer/src/worker.rs
Owners: none

Update blocking_events.rs
  crates/mys-social-indexer/src/events/blocking_events.rs
Owners: none

Updated bridges and added myusd contract to publish
  bridge/move/tokens/mock/ka/sources/ka.move
  bridge/move/tokens/myusd/Move.toml
  bridge/move/tokens/myusd/sources/myusd.move
  crates/mys-bridge/bridge-config-validator-1.yaml
  crates/mys-bridge/bridge-config-validator-2.yaml
  crates/mys-bridge/bridge-config-validator-3.yaml
Owners: none

cli fixes, bridge config updates, and myusd contract
  bridge/evm/deploy_configs/84532.json
  bridge/move/tokens/myusd/sources/myusd.move
  crates/mys-bridge/bridge-config-validator-1.yaml
  crates/mys-bridge/bridge-config-validator-2.yaml
  crates/mys-bridge/bridge-config-validator-3.yaml
  crates/mys-rosetta/tests/custom_coins/test_coin_utils.rs
  crates/mys-transaction-builder/src/lib.rs
  crates/mys/src/client_commands.rs
Owners: none

updated fresh configs
  bridge/evm/broadcast/DeployMySocialTokenAdapter.s.sol/84532/run-latest.json
  bridge/evm/broadcast/deploy_bridge.s.sol/84532/run-latest.json
  bridge/evm/deploy_configs/84532.json
  crates/mys-bridge-cli/src/lib.rs
  crates/mys-bridge/bridge-config-validator-1.yaml
  crates/mys-bridge/bridge-config-validator-2.yaml
  crates/mys-bridge/bridge-config-validator-3.yaml
Owners: none

updated bridge configs
  crates/mys-bridge/bridge-config-validator-1.yaml
  crates/mys-bridge/bridge-config-validator-2.yaml
  crates/mys-bridge/bridge-config-validator-3.yaml
Owners: none

.github/CODEOWNERS:

/crates/mys-types/src/crypto.rs @joyqvq @kchalkias @benr-ml
/crates/mys-types/src/base_types.rs @joyqvq
/crates/mys-keys/ @joyqvq @patrickkuo
/crates/mys-protocol-config @mystenmark

*.md @randall-Mysten @ronny-mysten
# Omit auto-generated changelogs and changesets from docs review:
/.changeset/*.md
CHANGELOG.md

# When snapshot changes, most likely we will need to recreate the genesis blob.
/crates/mys-config/tests/snapshot_tests.rs @tharbert

# When native functions change, so we can evaluate cost impact
/crates/mys-framework/src/natives/ @oxade

# GraphQL RPC working group
/crates/mys-graphql-rpc/ @oxade @amnn @wlmyng @stefan-mysten @emmazzz @myswombat
/crates/mys-graphql-e2e-tests/ @oxade @amnn @wlmyng @stefan-mysten @emmazzz @myswombat

# Consensus working group
/consensus/ @MystenLabs/consensus
/crates/mys-core/src/consensus_handler.rs @MystenLabs/consensus
/crates/mys-core/src/consensus_adapter.rs @MystenLabs/consensus
