Repository The-Social-Proof-Foundation/mys-core, changes with the owners that .github/CODEOWNERS names for each.
All owners: @joyqvq, @kchalkias, @benr-ml, @patrickkuo, @mystenmark, @randall-Mysten, @ronny-mysten, @tharbert, @oxade, @amnn, @wlmyng, @stefan-mysten, @emmazzz, @myswombat, @MystenLabs/consensus

Update up.sql
  crates/mys-social-indexer/migrations/20250622000001_spt_revenue_tracking/up.sql
Owners: none

Update up.sql
  crates/mys-social-indexer/migrations/20250622000001_spt_revenue_tracking/up.sql
Owners: none

Update up.sql
  crates/mys-social-indexer/migrations/20250622000001_spt_revenue_tracking/up.sql
Owners: none

Update up.sql
  crates/mys-social-indexer/migrations/20250622000001_spt_revenue_tracking/up.sql
Owners: none

Update up.sql
  crates/mys-social-indexer/migrations/20250622000001_spt_revenue_tracking/up.sql
Owners: none

Update up.sql
  crates/mys-social-indexer/migrations/20250622000001_spt_revenue_tracking/up.sql
Owners: none

Update Cargo.toml
  crates/mys-social-indexer/Cargo.toml
Owners: none

Update Cargo.toml
  crates/mys-social-indexer/Cargo.toml
Owners: none

TLS fix
  Cargo.lock
  crates/mys-social-indexer/Cargo.toml
Owners: none

I'll tag that photo and Dependency
  Cargo.lock
  crates/mys-social-indexer/Cargo.toml
Owners: none

Add a default TLS support for Postgres connection.
  Cargo.lock
  crates/mys-social-indexer/Cargo.toml
  crates/mys-social-indexer/src/db.rs
Owners: none

Fixed indices are running in the background and duplicate routes.
  crates/mys-social-indexer/src/api/routes.rs
  crates/mys-social-indexer/src/main.rs
Owners: none

Update main.rs
  crates/mys-social-indexer/src/main.rs
Owners: none

Update main.rs
  crates/mys-social-indexer/src/main.rs
Owners: none

Update config.rs
  crates/mys-social-indexer/src/config.rs
Owners: none

Add comprehensive research doc on gasless transactions for MYS blockchain
  gasless_transactions_research.md
Owners: @randall-Mysten, @ronny-mysten

Add comprehensive research on gasless blockchain ecosystem treasury model
  ecosystem_treasury_gasless_research.md
Owners: @randall-Mysten, @ronny-mysten

Add comprehensive research on Oracle vertical integration strategy
  oracle_vertical_integration_research.md
Owners: @randall-Mysten, @ronny-mysten

Implement Oracle Vertical Integration with Direct Price Update Mechanism
  oracle_vertical_integration_implementation.md
Owners: @randall-Mysten, @ronny-mysten

Add linear vesting support for treasury token allocations
  Linear_Vesting_Integration_Guide.md
  crates/mys-config/src/genesis.rs
  crates/mys-framework/packages/mys-framework/sources/linear_vesting.move
  crates/mys-framework/packages/mys-framework/sources/test/linear_vesting_tests.move
  crates/mys-framework/packages/mys-system/sources/genesis.move
  crates/mys-genesis-builder/src/lib.rs
  crates/mys/src/generate_genesis_checkpoint.rs
Owners: @randall-Mysten, @ronny-mysten

Add comprehensive cross-chain protocol research report for MySocial
  cross_chain_research_report.md
Owners: @randall-Mysten, @ronny-mysten

updated genesis to launch myso correctly
  crates/mys-framework-snapshot/bytecode_snapshot/74/0x000000000000000000000000000000000000000000000000000000000000d880
  crates/mys-framework-snapshot/manifest.json
  crates/mys-framework-snapshot/src/lib.rs
  crates/mys-framework/src/lib.rs
  crates/mys-genesis-builder/src/lib.rs
  crates/mys-social-indexer/src/api/routes.rs
  crates/mys-social-indexer/src/events/subscription_event_types.rs
  crates/mys/src/generate_genesis_checkpoint.rs
  crates/mys/src/genesis_ceremony.rs
  genesis/README.md
  genesis/genesis_config.yaml
Owners: @randall-Mysten, @ronny-mysten

Checkpoint before follow-up message
  crates/mys-config/src/node.rs
  crates/mys-json-rpc-api/src/indexer.rs
  crates/mys-json-rpc/src/error.rs
  crates/mys-json-rpc/src/indexer_api.rs
  crates/mys-json-rpc/src/lib.rs
  crates/mys-json-rpc/src/name_service.rs
  crates/mys-mvr-graphql-rpc/src/config.rs
  crates/mys-mvr-graphql-rpc/src/error.rs
  crates/mys-mvr-graphql-rpc/src/functional_group.rs
  crates/mys-mvr-graphql-rpc/src/types/mysns_registration.rs
  crates/mys-node/src/lib.rs
  crates/mys-swarm-config/src/node_config_builder.rs
  crates/mysns-indexer/.env.sample
  crates/mysns-indexer/Cargo.toml
  crates/mysns-indexer/README.md
  crates/mysns-indexer/diesel.toml
  crates/mysns-indexer/migrations/00000000000000_diesel_initial_setup/down.sql
  crates/mysns-indexer/migrations/00000000000000_diesel_initial_setup/up.sql
  crates/mysns-indexer/migrations/2024-01-25-152044_init/down.sql
  crates/mysns-indexer/migrations/2024-01-25-152044_init/up.sql
  crates/mysns-indexer/migrations/2024-01-29-122521_indexes/down.sql
  crates/mysns-indexer/migrations/2024-01-29-122521_indexes/up.sql
  crates/mysns-indexer/src/indexer.rs
  crates/mysns-indexer/src/lib.rs
  crates/mysns-indexer/src/main.rs
  crates/mysns-indexer/src/models.rs
  crates/mysns-indexer/src/schema.rs
  crates/mysns-indexer/tests/checkpoint_process_tests.rs
  crates/mysns-indexer/tests/data/22279187.chk
  crates/mysns-indexer/tests/data/22279365.chk
  crates/mysns-indexer/tests/data/22279496.chk
  crates/mysns-indexer/tests/data/22279944.chk
  crates/mysns-indexer/tests/data/22280030.chk
Owners: @randall-Mysten, @ronny-mysten

Remove name service related code from indexer and GraphQL RPC
  crates/mys-indexer/src/apis/indexer_api.rs
  crates/mys-indexer/src/config.rs
  crates/mys-indexer/src/errors.rs
  crates/mys-indexer/src/lib.rs
  crates/mys-indexer/src/test_utils.rs
  crates/mys-mvr-graphql-rpc/src/functional_group.rs
  crates/mys-mvr-graphql-rpc/src/types/mod.rs
  crates/mys-mvr-graphql-rpc/src/types/move_object.rs
  crates/mys-mvr-graphql-rpc/src/types/owner.rs
  crates/mys-mvr-graphql-rpc/src/types/query.rs
  docker/mys-services/Dockerfile
Owners: none

Remove mysns-related code and references from the project
  Cargo.toml
  crates/mys-graphql-rpc/src/types/address.rs
Owners: @oxade, @amnn, @wlmyng, @stefan-mysten, @emmazzz, @myswombat

Clean up leftover address methods
  crates/mys-graphql-rpc/src/types/address.rs
Owners: @oxade, @amnn, @wlmyng, @stefan-mysten, @emmazzz, @myswombat

Remove name service related code and dependencies
  crates/mys-graphql-rpc/src/config.rs
  crates/mys-graphql-rpc/src/error.rs
  crates/mys-graphql-rpc/src/functional_group.rs
  crates/mys-graphql-rpc/src/server/builder.rs
  crates/mys-graphql-rpc/src/types/coin.rs
  crates/mys-graphql-rpc/src/types/coin_metadata.rs
  crates/mys-graphql-rpc/src/types/mod.rs
  crates/mys-graphql-rpc/src/types/move_object.rs
  crates/mys-graphql-rpc/src/types/move_package.rs
  crates/mys-graphql-rpc/src/types/move_registry/on_chain.rs
  crates/mys-graphql-rpc/src/types/mysns_registration.rs
  crates/mys-graphql-rpc/src/types/object.rs
  crates/mys-graphql-rpc/src/types/owner.rs
  crates/mys-graphql-rpc/src/types/query.rs
  crates/mys-graphql-rpc/src/types/stake.rs
  crates/mys-graphql-rpc/tests/move_registry_e2e.rs
  crates/mys-json-rpc-tests/tests/name_service_tests.rs
  crates/mys-json-rpc/src/indexer_api.rs
  crates/mys-mvr-graphql-rpc/src/config.rs
Owners: @oxade, @amnn, @wlmyng, @stefan-mysten, @emmazzz, @myswombat

updated fullnode-sync.sh
  crates/mys-framework-snapshot/manifest.json
  scripts/compatibility/fullnode-sync.sh
Owners: none

Clean up leftover mysns code
  crates/mys-graphql-rpc/src/types/coin.rs
  crates/mys-graphql-rpc/src/types/coin_metadata.rs
  crates/mys-graphql-rpc/src/types/move_object.rs
  crates/mys-graphql-rpc/src/types/move_package.rs
  crates/mys-graphql-rpc/src/types/object.rs
  crates/mys-graphql-rpc/src/types/owner.rs
  crates/mys-graphql-rpc/src/types/stake.rs
  crates/mys-mvr-graphql-rpc/src/types/address.rs
  crates/mys-mvr-graphql-rpc/src/types/coin.rs
  crates/mys-mvr-graphql-rpc/src/types/coin_metadata.rs
  crates/mys-mvr-graphql-rpc/src/types/move_object.rs
  crates/mys-mvr-graphql-rpc/src/types/move_package.rs
  crates/mys-mvr-graphql-rpc/src/types/object.rs
  crates/mys-mvr-graphql-rpc/src/types/owner.rs
  crates/mys-mvr-graphql-rpc/src/types/stake.rs
Owners: @oxade, @amnn, @wlmyng, @stefan-mysten, @emmazzz, @myswombat

Update genesis_config.yaml
  genesis/genesis_config.yaml
Owners: none

updated minor
  .gitignore
  genesis/generate_keys.sh
Owners: none

minor
  genesis/generate_keys.sh
  genesis/genesis_config.yaml
Owners: none

eh
  crates/mys-framework-snapshot/manifest.json
  genesis/genesis_config.yaml
  parameters
Owners: none

eh2
  crates/mys-framework-snapshot/manifest.json
  crates/mys-swarm-config/tests/snapshots/snapshot_tests__populated_genesis_snapshot_matches-2.snap
  parameters
Owners: none

updated generate keys script
  genesis/generate_keys.sh
  genesis/genesis_config.yaml
Owners: none

updated social indexer connections
  crates/mys-faucet/src/faucet/simple_faucet.rs
  crates/mys-social-indexer/railway.toml
  crates/mys-social-indexer/src/api/handlers/health.rs
  crates/mys-social-indexer/src/config.rs
  crates/mys-social-indexer/src/db.rs
  crates/mys-social-indexer/src/lib.rs
  crates/mys-social-indexer/src/main.rs
Owners: none

social indexer bug fixes
  crates/mys-social-indexer/src/blockchain/listener.rs
  crates/mys-social-indexer/src/db.rs
Owners: none

updated db configs
  crates/mys-social-indexer/railway.toml
  crates/mys-social-indexer/src/config.rs
  crates/mys-social-indexer/src/db.rs
  crates/mys-social-indexer/src/main.rs
Owners: none

Update db.rs
  crates/mys-social-indexer/src/db.rs
Owners: none

debugging logic
  crates/mys-social-indexer/src/config.rs
  crates/mys-social-indexer/src/main.rs
Owners: none

.github/CODEOWNERS:

/crates/mys-types/src/crypto.rs @joyqvq @kchalkias @benr-ml
/crates/mys-types/src/base_types.rs @joyqvq
/crates/mys-keys/ @joyqvq @patrickkuo
/crates/mys-protocol-config @mystenmark

*.md @randall-Mysten @ronny-mysten
# Omit auto-generated changelogs and changesets from docs review:
/.changeset/*.md
CHANGELOG.md

# When snapshot changes, most likely we will need to recreate the genesis blob.
/crates/mys-config/tests/snapshot_tests.rs @tharbert

# When native functions change, so we can evaluate cost impact
/crates/mys-framework/src/natives/ @oxade

# GraphQL RPC working group
/crates/mys-graphql-rpc/ @oxade @amnn @wlmyng @stefan-mysten @emmazzz @myswombat
/crates/mys-graphql-e2e-tests/ @oxade @amnn @wlmyng @stefan-mysten @emmazzz @myswombat

# Consensus working group
/consensus/ @MystenLabs/consensus
/crates/mys-core/src/consensus_handler.rs @MystenLabs/consensus
/crates/mys-core/src/consensus_adapter.rs @MystenLabs/consensus
