Repository The-Social-Proof-Foundation/mys-core, changes with the owners that .github/CODEOWNERS names for each.
All owners: @joyqvq, @kchalkias, @benr-ml, @patrickkuo, @mystenmark, @randall-Mysten, @ronny-mysten, @tharbert, @oxade, @amnn, @wlmyng, @stefan-mysten, @emmazzz, @myswombat, @MystenLabs/consensus

.github/CODEOWNERS:

/crates/mys-types/src/crypto.rs @joyqvq @kchalkias @benr-ml
/crates/mys-types/src/base_types.rs @joyqvq
/crates/mys-keys/ @joyqvq @patrickkuo
/crates/mys-protocol-config @mystenmark

*.md @randall-Mysten @ronny-mysten
# Omit auto-generated changelogs and changesets from docs review:
/.changeset/*.md
CHANGELOG.md

# When snapshot changes, most likely we will need to recreate the genesis blob.
/crates/mys-config/tests/snapshot_tests.rs @tharbert

# When native functions change, so we can evaluate cost impact
/crates/mys-framework/src/natives/ @oxade

# GraphQL RPC working group
/crates/mys-graphql-rpc/ @oxade @amnn @wlmyng @stefan-mysten @emmazzz @myswombat
/crates/mys-graphql-e2e-tests/ @oxade @amnn @wlmyng @stefan-mysten @emmazzz @myswombat

# Consensus working group
/consensus/ @MystenLabs/consensus
/crates/mys-core/src/consensus_handler.rs @MystenLabs/consensus
/crates/mys-core/src/consensus_adapter.rs @MystenLabs/consensus

renamed folders
  crates/mys-orderbook-indexer/src/migrations/2025102200000000_optimize_timescaledb_costs/down.sql
  crates/mys-orderbook-indexer/src/migrations/2025102200000000_optimize_timescaledb_costs/up.sql
Owners: none

Update up.sql
  crates/mys-orderbook-indexer/src/migrations/2025102200000000_optimize_timescaledb_costs/up.sql
Owners: none

Update down.sql
  crates/mys-orderbook-indexer/src/migrations/2025102200000000_optimize_timescaledb_costs/down.sql
Owners: none

migration fixes
  crates/mys-orderbook-indexer/src/migrations/2025102200000000_optimize_timescaledb_costs/down.sql
  crates/mys-orderbook-indexer/src/migrations/2025102200000000_optimize_timescaledb_costs/up.sql
Owners: none

migration fixes
  crates/mys-orderbook-indexer/src/migrations/2025102200000000_optimize_timescaledb_costs/down.sql
  crates/mys-orderbook-indexer/src/migrations/2025102200000000_optimize_timescaledb_costs/up.sql
Owners: none

migration fixes
  crates/mys-orderbook-indexer/src/migrations/2025102200000000_optimize_timescaledb_costs/down.sql
  crates/mys-orderbook-indexer/src/migrations/2025102200000000_optimize_timescaledb_costs/up.sql
Owners: none

migrations ehhhh
  crates/mys-orderbook-indexer/src/migrations/2025102200000000_optimize_timescaledb_costs/down.sql
  crates/mys-orderbook-indexer/src/migrations/2025102200000000_optimize_timescaledb_costs/up.sql
Owners: none

migrations errrrr
  crates/mys-orderbook-indexer/src/migrations/2025102200000000_optimize_timescaledb_costs/down.sql
  crates/mys-orderbook-indexer/src/migrations/2025102200000000_optimize_timescaledb_costs/up.sql
Owners: none

updated protocol gas fee to be 25% less instead of 50% less
  crates/mys-framework-snapshot/manifest.json
  crates/mys-protocol-config/src/lib.rs
Owners: @mystenmark

removed old snapshots, reduced gas fee by half again, and increased the package upload limit.
  crates/mys-framework-snapshot/bytecode_snapshot/75/0x0000000000000000000000000000000000000000000000000000000000005ea1
  crates/mys-framework-snapshot/bytecode_snapshot/75/0x000000000000000000000000000000000000000000000000000000000000d880
  crates/mys-framework-snapshot/bytecode_snapshot/75/0x000000000000000000000000000000000000000000000000000000000000dee9
  crates/mys-framework-snapshot/manifest.json
  crates/mys-protocol-config/src/lib.rs
  crates/mys-protocol-config/src/snapshots/mys_protocol_config__test__Mainnet_version_75.snap
  crates/mys-protocol-config/src/snapshots/mys_protocol_config__test__Testnet_version_75.snap
  crates/mys-protocol-config/src/snapshots/mys_protocol_config__test__version_75.snap
  crates/mys-swarm-config/tests/snapshots/snapshot_tests__populated_genesis_snapshot_matches-2.snap
Owners: @mystenmark

latest updates
  crates/mys-framework-snapshot/manifest.json
  crates/mys-framework/packages/mys-social/Move.toml
  genesis/generate_keys.sh
  genesis/genesis_config.yaml
Owners: none

Updated to include MyUSD package into the build of the social package.
  crates/mys-framework-snapshot/bytecode_snapshot/75/0x00000000000000000000000000000000000000000000000000000000000050c1
  crates/mys-framework-snapshot/manifest.json
  crates/mys-framework/src/lib.rs
Owners: none

fresh build and genesis
  crates/mys-framework-snapshot/manifest.json
  crates/mys-types/src/lib.rs
  genesis/generate_keys.sh
  genesis/genesis_config.yaml
Owners: none

rearanged publish order
  crates/mys-framework-snapshot/manifest.json
  crates/mys-framework-snapshot/src/lib.rs
  crates/mys-framework/src/lib.rs
  crates/mys-swarm-config/tests/snapshots/snapshot_tests__populated_genesis_snapshot_matches-2.snap
  genesis/generate_keys.sh
  genesis/genesis_config.yaml
Owners: none

Removed unnecessary dependency.
  crates/mys-framework-snapshot/manifest.json
  crates/mys-framework/packages/mys-social/Move.toml
Owners: none

updated order and fresh genesis
  crates/mys-framework-snapshot/bytecode_snapshot/75/0x00000000000000000000000000000000000000000000000000000000000050c1
  crates/mys-framework-snapshot/manifest.json
  crates/mys-framework-snapshot/src/lib.rs
  crates/mys-framework/src/lib.rs
  crates/mys-swarm-config/tests/snapshots/snapshot_tests__populated_genesis_snapshot_matches-2.snap
  genesis/generate_keys.sh
  genesis/genesis_config.yaml
Owners: none

latest genesis config update
  crates/mys-framework-snapshot/manifest.json
  genesis/generate_keys.sh
  genesis/genesis_config.yaml
Owners: none

genesis keys update
  crates/mys-framework-snapshot/manifest.json
  genesis/generate_keys.sh
  genesis/genesis_config.yaml
Owners: none

updated git revision
  Cargo.lock
  crates/mys-framework-snapshot/manifest.json
Owners: none

Update lib.rs
  crates/mys-protocol-config/src/lib.rs
Owners: @mystenmark

cleaned up boostrap
  crates/mys-framework/packages/mys-framework/sources/coin.move
  crates/mys-framework/packages/mys-social/sources/bootstrap.move
Owners: none

fixed CoinCreationAdminCap distribution
  crates/mys-framework/packages/mys-framework/Move.toml
  crates/mys-framework/packages/mys-framework/sources/coin.move
Owners: none

fixed mys-social bootstrap & coin admin cap bootstrap
  crates/mys-framework-snapshot/bytecode_snapshot/75/0x0000000000000000000000000000000000000000000000000000000000000002
  crates/mys-framework-snapshot/bytecode_snapshot/75/0x00000000000000000000000000000000000000000000000000000000000050c1
  crates/mys-framework-snapshot/manifest.json
  crates/mys-framework/docs/mys/coin.md
  crates/mys-framework/docs/social_contracts/bootstrap.md
  crates/mys-framework/packages/mys-framework/sources/coin.move
  crates/mys-framework/packages/mys-social/sources/bootstrap.move
  crates/mys-framework/packages_compiled/mys-framework
  crates/mys-framework/packages_compiled/mys-social
  crates/mys-framework/published_api.txt
  crates/mys-swarm-config/tests/snapshots/snapshot_tests__populated_genesis_snapshot_matches-2.snap
Owners: @randall-Mysten, @ronny-mysten

latest testnet genesis config values
  crates/mys-protocol-config/src/lib.rs
  genesis/generate_keys.sh
  genesis/genesis_config.yaml
Owners: @mystenmark

fixes
  Cargo.lock
  crates/mys-faucet/Cargo.toml
  crates/mys-faucet/railway.json
  crates/mys-framework/packages/mys-framework/sources/coin.move
Owners: none

updated to new social address
  crates/mys-social-indexer/docker-compose.yml
  crates/mys-social-indexer/src/lib.rs
  crates/mys-source-validation-service/tests/tests.rs
Owners: none

Updated SocialFi indexer vesting API and fixed Faucet Railway build command.
  crates/mys-faucet/railway.json
  crates/mys-social-indexer/src/api/handlers/vesting.rs
Owners: none

fixed vesting handlers and more
  crates/mys-social-indexer/migrations/20250120000000_add_profile_offers_badges_instagram/down.sql
  crates/mys-social-indexer/migrations/20250120000000_add_profile_offers_badges_instagram/up.sql
  crates/mys-social-indexer/src/api/handlers/vesting.rs
  crates/mys-social-indexer/src/blockchain/profile_handler.rs
  crates/mys-social-indexer/src/events/blocking_events.rs
  crates/mys-social-indexer/src/events/mod.rs
  crates/mys-social-indexer/src/events/profile_events.rs
  crates/mys-social-indexer/src/events/social_graph_events.rs
  crates/mys-social-indexer/src/models/mod.rs
  crates/mys-social-indexer/src/models/profile.rs
  crates/mys-social-indexer/src/models/profile_extras.rs
  crates/mys-social-indexer/src/schema.rs
  crates/mys-social-indexer/src/worker.rs
Owners: none

minor vesting endpoint fixes
  crates/mys-social-indexer/README.md
  crates/mys-social-indexer/src/api/handlers/vesting.rs
  crates/mys-social-indexer/src/api/routes.rs
Owners: @randall-Mysten, @ronny-mysten

fixed 2 endpoints errors and added a new platform members one
  crates/mys-social-indexer/README.md
  crates/mys-social-indexer/migrations/20251017000000_fix_platform_revenue_summary_view/down.sql
  crates/mys-social-indexer/migrations/20251017000000_fix_platform_revenue_summary_view/up.sql
  crates/mys-social-indexer/src/api/handlers/platforms.rs
  crates/mys-social-indexer/src/api/handlers/revenue.rs
  crates/mys-social-indexer/src/api/handlers/search.rs
  crates/mys-social-indexer/src/api/routes.rs
  crates/mys-social-indexer/src/models/revenue.rs
Owners: @randall-Mysten, @ronny-mysten

minor migration fix
  crates/mys-social-indexer/migrations/20251017000000_fix_platform_revenue_summary_view/down.sql
  crates/mys-social-indexer/migrations/20251017000000_fix_platform_revenue_summary_view/up.sql
Owners: none

fixed errors
  crates/mys-social-indexer/migrations/20250120000000_add_profile_offers_badges_instagram/up.sql
  crates/mys-social-indexer/migrations/20251017000000_fix_platform_revenue_summary_view/down.sql
  crates/mys-social-indexer/migrations/20251017000000_fix_platform_revenue_summary_view/up.sql
  crates/mys-social-indexer/src/api/handlers/revenue.rs
Owners: none

fixed errors and added platform DAO funtionality
  crates/mys-social-indexer/migrations/20251107013916_add_dao_governance_fields_to_platforms/down.sql
  crates/mys-social-indexer/migrations/20251107013916_add_dao_governance_fields_to_platforms/up.sql
  crates/mys-social-indexer/migrations/20251107015016_fix_mydata_revenue_views/down.sql
  crates/mys-social-indexer/migrations/20251107015016_fix_mydata_revenue_views/up.sql
  crates/mys-social-indexer/src/api/handlers/platforms.rs
  crates/mys-social-indexer/src/blockchain/platform_handler.rs
  crates/mys-social-indexer/src/blockchain/profile_handler.rs
  crates/mys-social-indexer/src/events/profile_events.rs
  crates/mys-social-indexer/src/models/platform.rs
  crates/mys-social-indexer/src/models/revenue.rs
  crates/mys-social-indexer/src/models/vesting.rs
  crates/mys-social-indexer/src/schema.rs
  crates/mys-social-indexer/src/worker.rs
Owners: none

updated platform mod and blocked profiles
  crates/mys-social-indexer/src/api/handlers/platforms.rs
Owners: none

Update platforms.rs
  crates/mys-social-indexer/src/api/handlers/platforms.rs
Owners: none

updated memebers and blocked to query serached too
  crates/mys-social-indexer/README.md
  crates/mys-social-indexer/src/api/handlers/platforms.rs
Owners: @randall-Mysten, @ronny-mysten

I added new membership. Check endpoint and fixed edit platform. Listening event error.
  crates/mys-social-indexer/README.md
  crates/mys-social-indexer/src/api/handlers/platforms.rs
  crates/mys-social-indexer/src/api/routes.rs
  crates/mys-social-indexer/src/models/platform.rs
Owners: @randall-Mysten, @ronny-mysten

De-serialization of time to string as well as the checking of profile platform subscription join date and point.
  crates/mys-social-indexer/src/api/handlers/platforms.rs
  crates/mys-social-indexer/src/events/event_utils.rs
  crates/mys-social-indexer/src/events/governance_event_types.rs
  crates/mys-social-indexer/src/events/mydata_event_types.rs
  crates/mys-social-indexer/src/events/poc_event_types.rs
  crates/mys-social-indexer/src/events/post_event_types.rs
  crates/mys-social-indexer/src/events/social_graph_event_types.rs
  crates/mys-social-indexer/src/events/social_proof_token_events.rs
  crates/mys-social-indexer/src/events/subscription_event_types.rs
Owners: none

Update platform_handler.rs
  crates/mys-social-indexer/src/blockchain/platform_handler.rs
Owners: none

Update platform_handler.rs
  crates/mys-social-indexer/src/blockchain/platform_handler.rs
Owners: none
