Repository The-Social-Proof-Foundation/mys-core, changes with the owners that .github/CODEOWNERS names for each.
All owners: @joyqvq, @kchalkias, @benr-ml, @patrickkuo, @mystenmark, @randall-Mysten, @ronny-mysten, @tharbert, @oxade, @amnn, @wlmyng, @stefan-mysten, @emmazzz, @myswombat, @MystenLabs/consensus

.github/CODEOWNERS:

/crates/mys-types/src/crypto.rs @joyqvq @kchalkias @benr-ml
/crates/mys-types/src/base_types.rs @joyqvq
/crates/mys-keys/ @joyqvq @patrickkuo
/crates/mys-protocol-config @mystenmark

*.md @randall-Mysten @ronny-mysten
# Omit auto-generated changelogs and changesets from docs review:
/.changeset/*.md
CHANGELOG.md

# When snapshot changes, most likely we will need to recreate the genesis blob.
/crates/mys-config/tests/snapshot_tests.rs @tharbert

# When native functions change, so we can evaluate cost impact
/crates/mys-framework/src/natives/ @oxade

# GraphQL RPC working group
/crates/mys-graphql-rpc/ @oxade @amnn @wlmyng @stefan-mysten @emmazzz @myswombat
/crates/mys-graphql-e2e-tests/ @oxade @amnn @wlmyng @stefan-mysten @emmazzz @myswombat

# Consensus working group
/consensus/ @MystenLabs/consensus
/crates/mys-core/src/consensus_handler.rs @MystenLabs/consensus
/crates/mys-core/src/consensus_adapter.rs @MystenLabs/consensus

minor
  Cargo.lock
  crates/mys-deepbook-indexer/Cargo.toml
Owners: none

Had its support to database migration with TLS support.
  Cargo.lock
  crates/mys-deepbook-indexer/Cargo.toml
  crates/mys-deepbook-indexer/src/main.rs
  crates/mys-deepbook-indexer/src/postgres_manager.rs
Owners: none

Update up.sql
  crates/mys-deepbook-indexer/src/migrations/2024010100000000_enable_timescaledb/up.sql
Owners: none

Update up.sql
  crates/mys-deepbook-indexer/src/migrations/2024010100000000_enable_timescaledb/up.sql
Owners: none

Update config.yaml
  crates/mys-deepbook-indexer/config.yaml
Owners: none

Add bridged USDC package
  crates/mys-framework/packages/usdc/Move.toml
  crates/mys-framework/packages/usdc/sources/usdc.move
  crates/mys-framework/packages_compiled/usdc
  crates/mys-framework/src/lib.rs
  crates/mys-framework/tests/build-system-packages.rs
  crates/mys-types/src/lib.rs
Owners: none

Minor updates.
  Cargo.lock
  crates/mys-faucet/Cargo.toml
  crates/mys/src/keytool.rs
Owners: none

added seal
  crates/mys-framework/packages/seal/Move.toml
  crates/mys-framework/packages/seal/sources/bf_hmac_encryption.move
  crates/mys-framework/packages/seal/sources/gf256.move
  crates/mys-framework/packages/seal/sources/hmac256ctr.move
  crates/mys-framework/packages/seal/sources/kdf.move
  crates/mys-framework/packages/seal/sources/key_server.move
  crates/mys-framework/packages/seal/sources/polynomial.move
Owners: none

Add seal package and genesis config
  crates/mys-framework-snapshot/bytecode_snapshot/74/0x000000000000000000000000000000000000000000000000000000000000seal
  crates/mys-framework-snapshot/manifest.json
  crates/mys-framework-snapshot/src/lib.rs
  crates/mys-framework/packages/seal/Move.toml
  crates/mys-framework/packages_compiled/seal
  crates/mys-framework/src/lib.rs
  crates/mys-move-build/src/lib.rs
  crates/mys-types/src/lib.rs
  crates/mys-types/src/mys_serde.rs
Owners: none

Updated to work, build, and run correctly.
  crates/mys-framework-snapshot/bytecode_snapshot/74/0x0000000000000000000000000000000000000000000000000000000000005ea1
  crates/mys-framework-snapshot/manifest.json
  crates/mys-framework/docs/seal/bf_hmac_encryption.md
  crates/mys-framework/docs/seal/gf256.md
  crates/mys-framework/docs/seal/hmac256ctr.md
  crates/mys-framework/docs/seal/kdf.md
  crates/mys-framework/docs/seal/key_server.md
  crates/mys-framework/docs/seal/polynomial.md
  crates/mys-framework/packages/seal/Move.toml
  crates/mys-framework/packages_compiled/seal
  crates/mys-framework/published_api.txt
  crates/mys-framework/tests/build-system-packages.rs
  crates/mys-types/src/lib.rs
  crates/mys-types/src/mys_serde.rs
Owners: @randall-Mysten, @ronny-mysten

Delete 0x000000000000000000000000000000000000000000000000000000000000seal
  crates/mys-framework-snapshot/bytecode_snapshot/74/0x000000000000000000000000000000000000000000000000000000000000seal
Owners: none

Add USDC system package
  crates/mys-framework/packages/usdc/Move.toml
  crates/mys-framework/packages/usdc/sources/usdc.move
  crates/mys-framework/tests/build-system-packages.rs
  crates/mys-move-build/src/lib.rs
  crates/mys-types/src/lib.rs
Owners: none

Updated to work on publishing USDC on Genesis.
  crates/mys-framework-snapshot/bytecode_snapshot/74/0x00000000000000000000000000000000000000000000000000000000000075d6
  crates/mys-framework-snapshot/manifest.json
  crates/mys-framework-snapshot/src/lib.rs
  crates/mys-framework/docs/usdc/usdc.md
  crates/mys-framework/packages/usdc/sources/usdc.move
  crates/mys-framework/packages_compiled/usdc
  crates/mys-framework/published_api.txt
  crates/mys-framework/src/lib.rs
  crates/mys-types/src/mys_serde.rs
Owners: @randall-Mysten, @ronny-mysten

minor
  crates/mys-framework/packages/usdc/sources/usdc.move
  crates/mys-genesis-builder/src/lib.rs
Owners: none

Update lib.rs
  crates/mys-framework/src/lib.rs
Owners: none

Add MyIP data stream module and integrate Seal
  crates/mys-framework/packages/mys-social/Move.toml
  crates/mys-framework/packages/mys-social/sources/my_ip_stream.move
Owners: none

removed git submodules
  crates/mys-framework/packages/mys-social/.gitignore
  crates/mys-framework/packages/mys-social/Move.toml
  crates/mys-framework/packages/mys-social/README.md
  crates/mys-framework/packages/mys-social/sources/block_list.move
  crates/mys-framework/packages/mys-social/sources/encrypted_content.move
  crates/mys-framework/packages/mys-social/sources/governance.move
  crates/mys-framework/packages/mys-social/sources/my_ip.move
  crates/mys-framework/packages/mys-social/sources/platform.move
  crates/mys-framework/packages/mys-social/sources/post.move
  crates/mys-framework/packages/mys-social/sources/profile.move
  crates/mys-framework/packages/mys-social/sources/social_graph.move
  crates/mys-framework/packages/mys-social/sources/token_exchange.move
  crates/mys-framework/packages/mys-social/sources/upgrade.move
  crates/mys-framework/packages/mys-social/tests/README.md
  crates/mys-framework/packages/mys-social/tests/block_list_tests.move
  crates/mys-framework/packages/mys-social/tests/governance_tests.move
  crates/mys-framework/packages/mys-social/tests/interact.sh
  crates/mys-framework/packages/mys-social/tests/my_ip_tests.move
  crates/mys-framework/packages/mys-social/tests/platform_tests.move
  crates/mys-framework/packages/mys-social/tests/post_tests.move
  crates/mys-framework/packages/mys-social/tests/profile_tests.move
  crates/mys-framework/packages/mys-social/tests/social_graph_tests.move
  crates/mys-framework/packages/mys-social/tests/token_exchange_tests.move
  crates/mys-framework/packages/mys-social/tests/upgrade_tests.move
Owners: @randall-Mysten, @ronny-mysten

Add mys-price-oracle crate
  Cargo.lock
  Cargo.toml
  crates/mys-price-oracle/Cargo.toml
  crates/mys-price-oracle/README.md
  crates/mys-price-oracle/src/config.rs
  crates/mys-price-oracle/src/main.rs
Owners: @randall-Mysten, @ronny-mysten

Update README.md
  crates/mys-framework/packages/mys-social/README.md
Owners: @randall-Mysten, @ronny-mysten

fixed mys-price-oracle
  .cursor/scratchpad.md
  Cargo.lock
  crates/mys-price-oracle/Cargo.toml
  crates/mys-price-oracle/Dockerfile
  crates/mys-price-oracle/RAILWAY_DEPLOYMENT.md
  crates/mys-price-oracle/README.md
  crates/mys-price-oracle/deploy-railway.sh
  crates/mys-price-oracle/example-config.toml
  crates/mys-price-oracle/oracle_state.db/conf
  crates/mys-price-oracle/oracle_state.db/db
  crates/mys-price-oracle/railway.toml
  crates/mys-price-oracle/src/bridge_client.rs
  crates/mys-price-oracle/src/config.rs
  crates/mys-price-oracle/src/errors.rs
  crates/mys-price-oracle/src/main.rs
  crates/mys-price-oracle/src/metrics.rs
  crates/mys-price-oracle/src/monitoring.rs
  crates/mys-price-oracle/src/persistence.rs
  crates/mys-price-oracle/src/price_fetcher.rs
Owners: @randall-Mysten, @ronny-mysten

fixed
  .cursor/scratchpad.md
  crates/mys-price-oracle/RAILWAY_DEPLOYMENT.md
  crates/mys-price-oracle/deploy-railway.sh
Owners: @randall-Mysten, @ronny-mysten

Add Seal integration for MyIP data
  crates/mys-framework/packages/mys-social/sources/governance.move
  crates/mys-framework/packages/mys-social/sources/my_ip.move
  crates/mys-framework/packages/mys-social/sources/my_ip_data.move
  crates/mys-framework/packages/mys-social/sources/post.move
  crates/mys-framework/packages/mys-social/sources/profile.move
  crates/mys-framework/packages/mys-social/sources/subscription.move
Owners: none

Fixed build warning issues.
  crates/mys-framework/packages/mys-social/Move.toml
  crates/mys-framework/packages/mys-social/sources/governance.move
  crates/mys-framework/packages/mys-social/sources/my_ip.move
  crates/mys-framework/packages/mys-social/sources/my_ip_data.move
  crates/mys-framework/packages/mys-social/sources/post.move
  crates/mys-framework/packages/mys-social/sources/profile.move
  crates/mys-framework/packages/mys-social/sources/subscription.move
Owners: none

Unify social contracts treasury
  crates/mys-framework/packages/mys-social/sources/encrypted_content.move
  crates/mys-framework/packages/mys-social/sources/post.move
  crates/mys-framework/packages/mys-social/sources/token_exchange.move
Owners: none

Update Move.toml
  crates/mys-framework/packages/mys-social/Move.toml
Owners: none

fix owner module
  Cargo.lock
  Cargo.toml
  crates/mys-graphql-rpc/src/config.rs
  crates/mys-graphql-rpc/src/error.rs
  crates/mys-graphql-rpc/src/functional_group.rs
  crates/mys-graphql-rpc/src/server/builder.rs
  crates/mys-graphql-rpc/src/types/mod.rs
  crates/mys-graphql-rpc/src/types/move_object.rs
  crates/mys-graphql-rpc/src/types/move_registry/on_chain.rs
  crates/mys-graphql-rpc/src/types/mysns_registration.rs
  crates/mys-graphql-rpc/src/types/owner.rs
  crates/mys-graphql-rpc/src/types/query.rs
  crates/mys-json-rpc/src/lib.rs
  crates/mys-json-rpc/src/name_service.rs
  crates/mysns-indexer/.env.sample
  crates/mysns-indexer/Cargo.toml
  crates/mysns-indexer/README.md
  crates/mysns-indexer/diesel.toml
  crates/mysns-indexer/migrations/00000000000000_diesel_initial_setup/down.sql
  crates/mysns-indexer/migrations/00000000000000_diesel_initial_setup/up.sql
  crates/mysns-indexer/migrations/2024-01-25-152044_init/down.sql
  crates/mysns-indexer/migrations/2024-01-25-152044_init/up.sql
  crates/mysns-indexer/migrations/2024-01-29-122521_indexes/down.sql
  crates/mysns-indexer/migrations/2024-01-29-122521_indexes/up.sql
  crates/mysns-indexer/src/indexer.rs
  crates/mysns-indexer/src/lib.rs
  crates/mysns-indexer/src/main.rs
  crates/mysns-indexer/src/models.rs
  crates/mysns-indexer/src/schema.rs
  crates/mysns-indexer/tests/checkpoint_process_tests.rs
  crates/mysns-indexer/tests/data/22279187.chk
  crates/mysns-indexer/tests/data/22279365.chk
  crates/mysns-indexer/tests/data/22279496.chk
  crates/mysns-indexer/tests/data/22279944.chk
  crates/mysns-indexer/tests/data/22280030.chk
  docker/mys-services/Dockerfile
  docs/content/guides/developer/advanced/custom-indexer.mdx
Owners: @oxade, @amnn, @wlmyng, @stefan-mysten, @emmazzz, @myswombat, @randall-Mysten, @ronny-mysten

Added post-promo functionality.
  crates/mys-framework/packages/mys-social/sources/post.move
  crates/mys-framework/packages/mys-social/tests/post_tests.move
Owners: none

Updated social indexer to work with the new promoted posts feature.
  crates/mys-social-indexer/README.md
  crates/mys-social-indexer/migrations/20250605135031_add_promotion_tables/down.sql
  crates/mys-social-indexer/migrations/20250605135031_add_promotion_tables/up.sql
  crates/mys-social-indexer/src/api/handlers/posts.rs
  crates/mys-social-indexer/src/api/routes.rs
  crates/mys-social-indexer/src/blockchain/post_handler.rs
  crates/mys-social-indexer/src/events/post_event_types.rs
  crates/mys-social-indexer/src/events/post_events.rs
  crates/mys-social-indexer/src/models/post.rs
  crates/mys-social-indexer/src/schema.rs
Owners: @randall-Mysten, @ronny-mysten

latest attempt
  .cursor/scratchpad.md
  crates/mys-framework/packages/mys-social/Move.toml
  crates/mys-framework/packages/mys-social/sources/encrypted_content.move
  crates/mys-framework/packages/mys-social/sources/governance.move
  crates/mys-framework/packages/mys-social/sources/my_ip.move
  crates/mys-framework/packages/mys-social/sources/my_ip_data.move
  crates/mys-framework/packages/mys-social/sources/post.move
  crates/mys-framework/packages/mys-social/sources/profile.move
  crates/mys-framework/packages/mys-social/sources/subscription.move
  crates/mys-framework/packages/mys-social/tests/my_ip_tests.move
Owners: @randall-Mysten, @ronny-mysten

minor
  crates/mys-framework/packages/mys-social/sources/my_ip.move
  crates/mys-framework/packages/mys-social/sources/profile.move
  crates/mys-framework/packages/mys-social/sources/subscription.move
  crates/mys-framework/packages/mys-social/tests/my_ip_tests.move
Owners: none

Delete scratchpad.md
  .cursor/scratchpad.md
Owners: @randall-Mysten, @ronny-mysten

minor
  Cargo.lock
  crates/mys-indexer/src/apis/indexer_api.rs
  crates/mys-indexer/src/config.rs
  crates/mys-indexer/src/errors.rs
  crates/mys-indexer/src/test_utils.rs
  crates/mys-json-rpc/src/error.rs
  crates/mys-mvr-graphql-rpc/src/types/mysns_registration.rs
Owners: none

Remove the rest of the kiosk references.
  .github/actions/diffs/action.yml
  .github/workflows/release-notes-monitor.yml
  crates/mys-framework/docs/mys/transfer_policy.md
  crates/mys-framework/published_api.txt
  crates/mys-transactional-test-runner/src/test_adapter.rs
  docs/content/concepts/mys-move-concepts/packages/automated-address-management.mdx
  docs/content/guides/developer/nft.mdx
  external-crates/move/tooling/prettier-move/tests/functions/let_statement.exp.move
  external-crates/move/tooling/prettier-move/tests/functions/let_statement.move
Owners: @randall-Mysten, @ronny-mysten

Remove remaining name service features
  crates/mys-indexer/src/apis/indexer_api.rs
  crates/mys-indexer/src/config.rs
  crates/mys-indexer/src/errors.rs
  crates/mys-indexer/src/lib.rs
  crates/mys-indexer/src/test_utils.rs
  crates/mys-json-rpc-api/src/indexer.rs
  crates/mys-json-rpc-tests/tests/name_service_tests.rs
  crates/mys-json-rpc/src/indexer_api.rs
  crates/mys-mvr-graphql-rpc/src/config.rs
  crates/mys-mvr-graphql-rpc/src/functional_group.rs
  crates/mys-mvr-graphql-rpc/tests/move_registry_e2e.rs
  crates/mys-mvr-graphql-rpc/tests/snapshots/snapshot_tests__schema.graphql.snap
  crates/mys-mvr-graphql-rpc/tests/snapshots/snapshot_tests__staging.graphql.snap
  crates/mys-node/src/lib.rs
  crates/mys-open-rpc/spec/openrpc.json
  crates/mys-open-rpc/src/examples.rs
  crates/mys-swarm-config/src/node_config_builder.rs
  docs/content/references/cli/console.mdx
Owners: none

Headed Kill Switch and Badges.
  crates/mys-framework/packages/mys-social/sources/token_exchange.move
  crates/mys-social-indexer/migrations/20250606000000_add_kill_switch/down.sql
  crates/mys-social-indexer/migrations/20250606000000_add_kill_switch/up.sql
  crates/mys-social-indexer/src/blockchain/social_proof_token_handler.rs
  crates/mys-social-indexer/src/db.rs
  crates/mys-social-indexer/src/models/mod.rs
  crates/mys-social-indexer/src/models/token_exchange.rs
  crates/mys-social-indexer/src/schema.rs
Owners: none

fixed warnings
  crates/mys-bridge-indexer/src/main.rs
  crates/mys-deepbook-indexer/src/main.rs
  crates/mys-faucet/src/bin/merge_coins.rs
  crates/mys-price-oracle/src/bridge_client.rs
  crates/mys-price-oracle/src/metrics.rs
  crates/mys-price-oracle/src/persistence.rs
Owners: none

Update Cargo.toml
  crates/mys-faucet/Cargo.toml
Owners: none

faucet updates
  crates/mys-faucet/Cargo.toml
  crates/mys-faucet/README.md
  crates/mys-faucet/setup-wallet.sh
  pnpm-lock.yaml
Owners: @randall-Mysten, @ronny-mysten

added docker building
  crates/mys-graphql-rpc/.dockerignore
  crates/mys-graphql-rpc/Dockerfile
  crates/mys-graphql-rpc/railway.toml
Owners: @oxade, @amnn, @wlmyng, @stefan-mysten, @emmazzz, @myswombat

added docker to graphql-rpc
  Cargo.lock
  crates/mys-graphql-rpc/.dockerignore
  crates/mys-graphql-rpc/Dockerfile
  crates/mys-graphql-rpc/railway.toml
Owners: @oxade, @amnn, @wlmyng, @stefan-mysten, @emmazzz, @myswombat
