Repository The-Social-Proof-Foundation/mys-core, changes with the owners that .github/CODEOWNERS names for each.
All owners: @joyqvq, @kchalkias, @benr-ml, @patrickkuo, @mystenmark, @randall-Mysten, @ronny-mysten, @tharbert, @oxade, @amnn, @wlmyng, @stefan-mysten, @emmazzz, @myswombat, @MystenLabs/consensus

.github/CODEOWNERS:

/crates/mys-types/src/crypto.rs @joyqvq @kchalkias @benr-ml
/crates/mys-types/src/base_types.rs @joyqvq
/crates/mys-keys/ @joyqvq @patrickkuo
/crates/mys-protocol-config @mystenmark

*.md @randall-Mysten @ronny-mysten
# Omit auto-generated changelogs and changesets from docs review:
/.changeset/*.md
CHANGELOG.md

# When snapshot changes, most likely we will need to recreate the genesis blob.
/crates/mys-config/tests/snapshot_tests.rs @tharbert

# When native functions change, so we can evaluate cost impact
/crates/mys-framework/src/natives/ @oxade

# GraphQL RPC working group
/crates/mys-graphql-rpc/ @oxade @amnn @wlmyng @stefan-mysten @emmazzz @myswombat
/crates/mys-graphql-e2e-tests/ @oxade @amnn @wlmyng @stefan-mysten @emmazzz @myswombat

# Consensus working group
/consensus/ @MystenLabs/consensus
/crates/mys-core/src/consensus_handler.rs @MystenLabs/consensus
/crates/mys-core/src/consensus_adapter.rs @MystenLabs/consensus

bridge cli update and node deposit update
  crates/mys-bridge-cli/src/lib.rs
  crates/mys-bridge/src/deposit_bridge.rs
Owners: none

Update lib.rs
  crates/mys-bridge-cli/src/lib.rs
Owners: none

minor bridge fixes and more
  crates/mys-bridge/src/abi.rs
  crates/mys-bridge/src/deposit_bridge.rs
  crates/mys-bridge/src/e2e_tests/basic.rs
  crates/mys-bridge/src/e2e_tests/test_utils.rs
  crates/mys-bridge/src/test_utils.rs
Owners: none

Update up.sql
  crates/mys-indexer/migrations/social/20250115000000_create_profiles/up.sql
Owners: none

Update up.sql
  crates/mys-indexer/migrations/social/20250120000000_add_profile_offers_badges_instagram/up.sql
Owners: none

Update up.sql
  crates/mys-indexer/migrations/social/20250330000100_add_encrypted_profile_fields/up.sql
Owners: none

fixed more
  crates/mys-indexer/migrations/social/20250331224000_create_usernames_table/up.sql
  crates/mys-indexer/migrations/social/20250404000100_consolidate_profile_tables/down.sql
  crates/mys-indexer/migrations/social/20250404000200_remove_username_tables/down.sql
  crates/mys-social-indexer/migrations/20250330000100_add_encrypted_profile_fields/up.sql
  crates/mys-social-indexer/migrations/20250331224000_create_usernames_table/up.sql
  crates/mys-social-indexer/migrations/20250404000100_consolidate_profile_tables/down.sql
  crates/mys-social-indexer/migrations/20250404000200_remove_username_tables/down.sql
Owners: none

migration fixes
  crates/mys-indexer/migrations/social/20250404000100_consolidate_profile_tables/up.sql
  crates/mys-social-indexer/migrations/20250404000100_consolidate_profile_tables/up.sql
Owners: none

fixed more migration checks
  crates/mys-indexer/migrations/social/20250404000200_remove_username_tables/down.sql
  crates/mys-indexer/migrations/social/20250404000600_fix_social_graph_schema/up.sql
  crates/mys-indexer/migrations/social/20260115001854_add_profile_creation_migration/up.sql
  crates/mys-indexer/migrations/social/20260115001857_add_profile_transfer_migration/up.sql
  crates/mys-social-indexer/migrations/20250404000200_remove_username_tables/down.sql
  crates/mys-social-indexer/migrations/20250404000600_fix_social_graph_schema/up.sql
  crates/mys-social-indexer/migrations/20260115001854_add_profile_creation_migration/up.sql
  crates/mys-social-indexer/migrations/20260115001857_add_profile_transfer_migration/up.sql
Owners: none

fixed more migrations
  crates/mys-social-indexer/migrations/20250408000000_fix_social_graph_counters/up.sql
  crates/mys-social-indexer/migrations/20251226210000_fix_follow_count_triggers/up.sql
  crates/mys-social-indexer/migrations/20260115001846_update_social_graph_triggers/down.sql
  crates/mys-social-indexer/migrations/20260115001846_update_social_graph_triggers/up.sql
  crates/mys-social-indexer/migrations/20260115001905_backfill_wallet_social_graph/up.sql
Owners: none

more
  crates/mys-social-indexer/migrations/20250408000000_fix_social_graph_counters/up.sql
  crates/mys-social-indexer/migrations/20251226210000_fix_follow_count_triggers/up.sql
Owners: none

more
  crates/mys-social-indexer/migrations/20250408000000_fix_social_graph_counters/up.sql
  crates/mys-social-indexer/migrations/20251226210000_fix_follow_count_triggers/up.sql
Owners: none

removed old orderbook stuff
  crates/mys-framework/packages/orderbook/README.md
  crates/mys-orderbook-indexer/README.md
  crates/mys-orderbook-indexer/src/server.rs
Owners: @randall-Mysten, @ronny-mysten

removed old orderbook versioning
  crates/mys-framework/packages/orderbook/Move.lock
  crates/mys-framework/packages/orderbook/sources/clob.move
  crates/mys-framework/packages/orderbook/sources/clob_v2.move
  crates/mys-framework/packages/orderbook/sources/custodian.move
  crates/mys-framework/packages/orderbook/sources/custodian_v2.move
  crates/mys-framework/packages/orderbook/sources/order_query.move
  crates/mys-framework/packages/orderbook/tests/clob_tests.move
  crates/mys-framework/packages/orderbook/tests/order_query_tests.move
  crates/mys-framework/published_api.txt
  crates/mys-protocol-config/src/lib.rs
  crates/mys-types/src/lib.rs
  docs/content/guides/developer/mys-101/using-events.mdx
  docs/content/standards/deepbookv2/orders.mdx
  examples/mev_bot/src/index.ts
Owners: @mystenmark

aaded SPT split and merge funs and other
  crates/mys-framework/packages/mys-social/sources/social_proof_tokens.move
  crates/mys-framework/packages/mys-social/tests/social_proof_tokens_tests.move
  crates/mys-indexer/README.md
  crates/mys-indexer/src/social/api/handlers/social_proof_token.rs
  crates/mys-indexer/src/social/blockchain/checkpoint_processor.rs
  crates/mys-indexer/src/social/events/social_proof_token_events.rs
  crates/mys-indexer/src/social/models/social_proof_token.rs
  crates/mys-indexer/src/social/schema.rs
Owners: @randall-Mysten, @ronny-mysten

Enhanced social proof token endpoints in the indexer
  crates/mys-indexer/README.md
  crates/mys-indexer/src/social/api/handlers/posts.rs
  crates/mys-indexer/src/social/api/handlers/social_proof_token.rs
  crates/mys-indexer/src/social/api/routes.rs
  crates/mys-indexer/src/social/blockchain/checkpoint_processor.rs
  crates/mys-indexer/src/social/events/social_proof_token_events.rs
Owners: @randall-Mysten, @ronny-mysten

Updated reservation fee calcs for SPT's
  crates/mys-framework/packages/mys-social/sources/social_proof_tokens.move
Owners: none

Updated SPT list json response
  crates/mys-indexer/src/social/api/handlers/social_proof_token.rs
  crates/mys-indexer/src/social/models/social_proof_token.rs
Owners: none

Update social_proof_token.rs
  crates/mys-indexer/src/social/api/handlers/social_proof_token.rs
Owners: none

fixed build errors and warnings
  crates/mys-indexer/src/indexer.rs
  crates/mys-indexer/src/social/api/handlers/posts.rs
  crates/mys-indexer/src/social/api/handlers/social_proof_token.rs
  crates/mys-indexer/src/social/events/poc_events.rs
  crates/mys-indexer/src/social/events/social_proof_token_events.rs
  crates/mys-social-indexer/src/blockchain/block_list_handler.rs
Owners: none

opened port server on fullnode
  crates/mys-indexer/src/indexer.rs
Owners: none

Fixed leaving-committee validator nodes func
  crates/mys-framework/packages/mys-system/Move.lock
  crates/mys-framework/packages/mys-system/sources/mys_system_state_inner.move
  crates/mys-indexer/README.md
  crates/mys-indexer/src/social/api/handlers/social_proof_token.rs
Owners: @randall-Mysten, @ronny-mysten

fixed graphql logs
  crates/mys-graphql-rpc/Dockerfile
  crates/mys-graphql-rpc/src/main.rs
  crates/mys-social-indexer/Dockerfile
Owners: @oxade, @amnn, @wlmyng, @stefan-mysten, @emmazzz, @myswombat

Update builder.rs
  crates/mys-graphql-rpc/src/server/builder.rs
Owners: @oxade, @amnn, @wlmyng, @stefan-mysten, @emmazzz, @myswombat

Update builder.rs
  crates/mys-graphql-rpc/src/server/builder.rs
Owners: @oxade, @amnn, @wlmyng, @stefan-mysten, @emmazzz, @myswombat

Update config.yaml
  crates/mys-bridge-indexer/config.yaml
Owners: none

big update for sure
  .cursor/plans/fix_governance_indexer_state_mismatches_9734e770.plan.md
  crates/mys-bridge-indexer/src/lib.rs
  crates/mys-framework/packages/mys-social/sources/governance.move
  crates/mys-graphql-rpc/src/context_data/db_data_provider.rs
  crates/mys-graphql-rpc/src/data.rs
  crates/mys-graphql-rpc/src/data/apys.rs
  crates/mys-graphql-rpc/src/types/epoch.rs
  crates/mys-graphql-rpc/src/types/profile.rs
  crates/mys-graphql-rpc/src/types/query.rs
  crates/mys-graphql-rpc/src/types/transaction_block/mod.rs
  crates/mys-graphql-rpc/src/types/validator.rs
  crates/mys-indexer/README.md
  crates/mys-indexer/migrations/social/20260202190034_convert_voting_period_to_milliseconds/down.sql
  crates/mys-indexer/migrations/social/20260202190034_convert_voting_period_to_milliseconds/up.sql
  crates/mys-indexer/src/social/api/handlers/blocking.rs
  crates/mys-indexer/src/social/api/handlers/search.rs
  crates/mys-indexer/src/social/blockchain/checkpoint_processor.rs
  crates/mys-indexer/src/social/blockchain/platform_handler.rs
  crates/mys-indexer/src/social/events/governance_event_types.rs
  crates/mys-indexer/src/social/events/governance_events.rs
  crates/mys-indexer/src/social/mod.rs
  crates/mys-indexer/src/social/models/governance.rs
  crates/mys-indexer/src/social/schema.rs
  crates/mys-mvr-graphql-rpc/src/types/query.rs
  crates/mys-mvr-graphql-rpc/src/types/transaction_block/mod.rs
  crates/mys-orderbook-indexer/src/main.rs
  crates/mys-orderbook-indexer/src/postgres_manager.rs
  crates/mys-social-indexer/src/blockchain/block_list_handler.rs
Owners: @randall-Mysten, @ronny-mysten, @oxade, @amnn, @wlmyng, @stefan-mysten, @emmazzz, @myswombat
